In [1]:
import os
import sys
sys.path.append("..")

import pandas as pd
batData = pd.read_csv("data/Drumsticks - CleanedBattingData.csv")
matchData = pd.read_csv("data/Drumsticks - MatchWiseInfo.csv")

In [2]:
batData

,ID,GameFormat,Runs,BF,Fours,Sixes,SR,BattingPosition,BattingInnings,IsOut,Opposition,Ground,MatchDate,MatchLink
0,34102,3,50,40,7,2,125.00,5,1,0,South Africa,Durban,2007-09-20,https://www.espncricinfo.com/ci/engine/match/2...
1,34102,3,8,5,0,1,160.00,6,1,0,Australia,Durban,2007-09-22,https://www.espncricinfo.com/ci/engine/match/2...
2,34102,3,30,16,2,1,187.50,6,1,0,Pakistan,Johannesburg,2007-09-24,https://www.espncricinfo.com/ci/engine/match/2...
3,34102,3,8,8,1,0,100.00,5,1,1,Australia,Melbourne,2008-02-01,https://www.espncricinfo.com/ci/engine/match/2...
4,34102,3,4,11,0,0,36.36,6,2,1,Sri Lanka,Colombo (RPS),2009-02-10,https://www.espncricinfo.com/ci/engine/match/3...
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
24724,379504,6,0,1,0,0,0.00,11,1,0,Pakistan,Sydney,2024-11-16,https://www.espncricinfo.com/ci/engine/match/1...
24725,379504,6,1,2,0,0,50.00,10,2,0,Scorchers,Melbourne (Docklands),2024-12-23,https://www.espncricinfo.com/ci/engine/match/1...
24726,379504,6,2,2,0,0,100.00,10,2,0,Thunder,Sydney,2024-12-30,https://www.espncricinfo.com/ci/engine/match/1...
24727,379504,6,3,3,0,0,100.00,10,1,1,Strikers,Melbourne (Docklands),2025-01-02,https://www.espncricinfo.com/ci/engine/match/1...
24728,379504,6,0,1,0,0,0.00,10,2,1,Stars,Melbourne (Docklands),2025-01-12,https://www.espncricinfo.com/ci/engine/match/1...

In [3]:
batData = batData.merge(matchData, how="inner", on="MatchLink")

In [4]:
batData

,ID,GameFormat,Runs,BF,Fours,Sixes,SR,BattingPosition,BattingInnings,IsOut,...,TossResult,Series,MatchTime,Team1,Team2,Result,Team1Score,Team1Wickets,Team2Score,Team2Wickets
0,34102,3,50,40,7,2,125.00,5,1,0,...,bat,ICC World Twenty20,night,India,South Africa,India won by 37 runs,153,5,116,9
1,34102,3,8,5,0,1,160.00,6,1,0,...,bat,ICC World Twenty20Australia tour of South Africa,night,India,Australia,India won by 15 runs,188,5,173,7
2,34102,3,30,16,2,1,187.50,6,1,0,...,bat,ICC World Twenty20Pakistan tour of Kenya and S...,day,India,Pakistan,India won by 5 runs,157,5,152,10
3,34102,3,8,8,1,0,100.00,5,1,1,...,bat,India tour of Australia,night,India,Australia,Australia won by 9 wickets (with 52 balls rema...,74,10,75,1
4,34102,3,4,11,0,0,36.36,6,2,1,...,bat,India tour of Sri Lanka,night,Sri Lanka,India,India won by 3 wickets (with 4 balls remaining),171,4,174,7
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
24539,379504,6,0,1,0,0,0.00,11,1,0,...,bat,Pakistan tour of Australia,night,Australia,Pakistan,Australia won by 13 runs,147,9,134,10
24540,379504,6,1,2,0,0,50.00,10,2,0,...,field,Big Bash League,night,Perth Scorchers,Melbourne Renegades,Renegades won by 2 wickets (with 6 balls remai...,143,8,144,8
24541,379504,6,2,2,0,0,100.00,10,2,0,...,field,Big Bash League,night,Sydney Thunder,Melbourne Renegades,Thunder won by 8 runs,156,4,148,8
24542,379504,6,3,3,0,0,100.00,10,1,1,...,field,Big Bash League,night,Melbourne Renegades,Adelaide Strikers,Strikers won by 5 wickets (with 17 balls remai...,142,9,143,5
24543,379504,6,0,1,0,0,0.00,10,2,1,...,field,Big Bash League,night,Melbourne Stars,Melbourne Renegades,Stars won by 42 runs,165,10,123,10

In [5]:
batData.drop(["Result", "Team1Score", "Team1Wickets", "Team2Score", "Team2Wickets"], inplace=True, axis = 1)

In [6]:
batData

,ID,GameFormat,Runs,BF,Fours,Sixes,SR,BattingPosition,BattingInnings,IsOut,Opposition,Ground,MatchDate,MatchLink,TossWonTeam,TossResult,Series,MatchTime,Team1,Team2
0,34102,3,50,40,7,2,125.00,5,1,0,South Africa,Durban,2007-09-20,https://www.espncricinfo.com/ci/engine/match/2...,India,bat,ICC World Twenty20,night,India,South Africa
1,34102,3,8,5,0,1,160.00,6,1,0,Australia,Durban,2007-09-22,https://www.espncricinfo.com/ci/engine/match/2...,India,bat,ICC World Twenty20Australia tour of South Africa,night,India,Australia
2,34102,3,30,16,2,1,187.50,6,1,0,Pakistan,Johannesburg,2007-09-24,https://www.espncricinfo.com/ci/engine/match/2...,India,bat,ICC World Twenty20Pakistan tour of Kenya and S...,day,India,Pakistan
3,34102,3,8,8,1,0,100.00,5,1,1,Australia,Melbourne,2008-02-01,https://www.espncricinfo.com/ci/engine/match/2...,India,bat,India tour of Australia,night,India,Australia
4,34102,3,4,11,0,0,36.36,6,2,1,Sri Lanka,Colombo (RPS),2009-02-10,https://www.espncricinfo.com/ci/engine/match/3...,Sri Lanka,bat,India tour of Sri Lanka,night,Sri Lanka,India
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
24539,379504,6,0,1,0,0,0.00,11,1,0,Pakistan,Sydney,2024-11-16,https://www.espncricinfo.com/ci/engine/match/1...,Australia,bat,Pakistan tour of Australia,night,Australia,Pakistan
24540,379504,6,1,2,0,0,50.00,10,2,0,Scorchers,Melbourne (Docklands),2024-12-23,https://www.espncricinfo.com/ci/engine/match/1...,Melbourne Renegades,field,Big Bash League,night,Perth Scorchers,Melbourne Renegades
24541,379504,6,2,2,0,0,100.00,10,2,0,Thunder,Sydney,2024-12-30,https://www.espncricinfo.com/ci/engine/match/1...,Melbourne Renegades,field,Big Bash League,night,Sydney Thunder,Melbourne Renegades
24542,379504,6,3,3,0,0,100.00,10,1,1,Strikers,Melbourne (Docklands),2025-01-02,https://www.espncricinfo.com/ci/engine/match/1...,Adelaide Strikers,field,Big Bash League,night,Melbourne Renegades,Adelaide Strikers
24543,379504,6,0,1,0,0,0.00,10,2,1,Stars,Melbourne (Docklands),2025-01-12,https://www.espncricinfo.com/ci/engine/match/1...,Melbourne Renegades,field,Big Bash League,night,Melbourne Stars,Melbourne Renegades

In [7]:
batData.columns

Index(['ID', 'GameFormat', 'Runs', 'BF', 'Fours', 'Sixes', 'SR',
       'BattingPosition', 'BattingInnings', 'IsOut', 'Opposition', 'Ground',
       'MatchDate', 'MatchLink', 'TossWonTeam', 'TossResult', 'Series',
       'MatchTime', 'Team1', 'Team2'],
      dtype='object')

In [9]:
maps = pd.read_csv("data/bongbc - Sheet1.csv")

In [10]:
Team = maps["Team"]
MappedTeam = maps["MappedTeam"]

In [11]:
mappingTeams = {}

for i in range(len(Team)):
  mappingTeams[Team[i]] = MappedTeam[i]

In [12]:
for index, row in batData.iterrows():
    try:
        batData.at[index, 'Team1'] = mappingTeams[row.Team1]
    except KeyError:
        pass
    try:
        batData.at[index, 'Team2'] = mappingTeams[row.Team2]
    except KeyError:
        pass
    try:
        batData.at[index, 'TossWonTeam'] = mappingTeams[row.TossWonTeam]
    except KeyError:
        pass

In [13]:
batData

,ID,GameFormat,Runs,BF,Fours,Sixes,SR,BattingPosition,BattingInnings,IsOut,Opposition,Ground,MatchDate,MatchLink,TossWonTeam,TossResult,Series,MatchTime,Team1,Team2
0,34102,3,50,40,7,2,125.00,5,1,0,South Africa,Durban,2007-09-20,https://www.espncricinfo.com/ci/engine/match/2...,India,bat,ICC World Twenty20,night,India,South Africa
1,34102,3,8,5,0,1,160.00,6,1,0,Australia,Durban,2007-09-22,https://www.espncricinfo.com/ci/engine/match/2...,India,bat,ICC World Twenty20Australia tour of South Africa,night,India,Australia
2,34102,3,30,16,2,1,187.50,6,1,0,Pakistan,Johannesburg,2007-09-24,https://www.espncricinfo.com/ci/engine/match/2...,India,bat,ICC World Twenty20Pakistan tour of Kenya and S...,day,India,Pakistan
3,34102,3,8,8,1,0,100.00,5,1,1,Australia,Melbourne,2008-02-01,https://www.espncricinfo.com/ci/engine/match/2...,India,bat,India tour of Australia,night,India,Australia
4,34102,3,4,11,0,0,36.36,6,2,1,Sri Lanka,Colombo (RPS),2009-02-10,https://www.espncricinfo.com/ci/engine/match/3...,Sri Lanka,bat,India tour of Sri Lanka,night,Sri Lanka,India
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
24539,379504,6,0,1,0,0,0.00,11,1,0,Pakistan,Sydney,2024-11-16,https://www.espncricinfo.com/ci/engine/match/1...,Australia,bat,Pakistan tour of Australia,night,Australia,Pakistan
24540,379504,6,1,2,0,0,50.00,10,2,0,Scorchers,Melbourne (Docklands),2024-12-23,https://www.espncricinfo.com/ci/engine/match/1...,Renegades,field,Big Bash League,night,Scorchers,Renegades
24541,379504,6,2,2,0,0,100.00,10,2,0,Thunder,Sydney,2024-12-30,https://www.espncricinfo.com/ci/engine/match/1...,Renegades,field,Big Bash League,night,Thunder,Renegades
24542,379504,6,3,3,0,0,100.00,10,1,1,Strikers,Melbourne (Docklands),2025-01-02,https://www.espncricinfo.com/ci/engine/match/1...,Strikers,field,Big Bash League,night,Renegades,Strikers
24543,379504,6,0,1,0,0,0.00,10,2,1,Stars,Melbourne (Docklands),2025-01-12,https://www.espncricinfo.com/ci/engine/match/1...,Renegades,field,Big Bash League,night,Stars,Renegades

In [14]:
batData["PlayerTeam"] = ""

In [15]:
batData

,ID,GameFormat,Runs,BF,Fours,Sixes,SR,BattingPosition,BattingInnings,IsOut,...,Ground,MatchDate,MatchLink,TossWonTeam,TossResult,Series,MatchTime,Team1,Team2,PlayerTeam
0,34102,3,50,40,7,2,125.00,5,1,0,...,Durban,2007-09-20,https://www.espncricinfo.com/ci/engine/match/2...,India,bat,ICC World Twenty20,night,India,South Africa,
1,34102,3,8,5,0,1,160.00,6,1,0,...,Durban,2007-09-22,https://www.espncricinfo.com/ci/engine/match/2...,India,bat,ICC World Twenty20Australia tour of South Africa,night,India,Australia,
2,34102,3,30,16,2,1,187.50,6,1,0,...,Johannesburg,2007-09-24,https://www.espncricinfo.com/ci/engine/match/2...,India,bat,ICC World Twenty20Pakistan tour of Kenya and S...,day,India,Pakistan,
3,34102,3,8,8,1,0,100.00,5,1,1,...,Melbourne,2008-02-01,https://www.espncricinfo.com/ci/engine/match/2...,India,bat,India tour of Australia,night,India,Australia,
4,34102,3,4,11,0,0,36.36,6,2,1,...,Colombo (RPS),2009-02-10,https://www.espncricinfo.com/ci/engine/match/3...,Sri Lanka,bat,India tour of Sri Lanka,night,Sri Lanka,India,
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
24539,379504,6,0,1,0,0,0.00,11,1,0,...,Sydney,2024-11-16,https://www.espncricinfo.com/ci/engine/match/1...,Australia,bat,Pakistan tour of Australia,night,Australia,Pakistan,
24540,379504,6,1,2,0,0,50.00,10,2,0,...,Melbourne (Docklands),2024-12-23,https://www.espncricinfo.com/ci/engine/match/1...,Renegades,field,Big Bash League,night,Scorchers,Renegades,
24541,379504,6,2,2,0,0,100.00,10,2,0,...,Sydney,2024-12-30,https://www.espncricinfo.com/ci/engine/match/1...,Renegades,field,Big Bash League,night,Thunder,Renegades,
24542,379504,6,3,3,0,0,100.00,10,1,1,...,Melbourne (Docklands),2025-01-02,https://www.espncricinfo.com/ci/engine/match/1...,Strikers,field,Big Bash League,night,Renegades,Strikers,
24543,379504,6,0,1,0,0,0.00,10,2,1,...,Melbourne (Docklands),2025-01-12,https://www.espncricinfo.com/ci/engine/match/1...,Renegades,field,Big Bash League,night,Stars,Renegades,

In [16]:
for index, row in batData.iterrows():
    if row.Team1 == row.Opposition:
        batData.at[index, 'PlayerTeam'] = row.Team2
    else:
        batData.at[index, 'PlayerTeam'] = row.Team1

In [17]:
batData.drop("MatchLink", axis = 1)

,ID,GameFormat,Runs,BF,Fours,Sixes,SR,BattingPosition,BattingInnings,IsOut,Opposition,Ground,MatchDate,TossWonTeam,TossResult,Series,MatchTime,Team1,Team2,PlayerTeam
0,34102,3,50,40,7,2,125.00,5,1,0,South Africa,Durban,2007-09-20,India,bat,ICC World Twenty20,night,India,South Africa,India
1,34102,3,8,5,0,1,160.00,6,1,0,Australia,Durban,2007-09-22,India,bat,ICC World Twenty20Australia tour of South Africa,night,India,Australia,India
2,34102,3,30,16,2,1,187.50,6,1,0,Pakistan,Johannesburg,2007-09-24,India,bat,ICC World Twenty20Pakistan tour of Kenya and S...,day,India,Pakistan,India
3,34102,3,8,8,1,0,100.00,5,1,1,Australia,Melbourne,2008-02-01,India,bat,India tour of Australia,night,India,Australia,India
4,34102,3,4,11,0,0,36.36,6,2,1,Sri Lanka,Colombo (RPS),2009-02-10,Sri Lanka,bat,India tour of Sri Lanka,night,Sri Lanka,India,India
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
24539,379504,6,0,1,0,0,0.00,11,1,0,Pakistan,Sydney,2024-11-16,Australia,bat,Pakistan tour of Australia,night,Australia,Pakistan,Australia
24540,379504,6,1,2,0,0,50.00,10,2,0,Scorchers,Melbourne (Docklands),2024-12-23,Renegades,field,Big Bash League,night,Scorchers,Renegades,Renegades
24541,379504,6,2,2,0,0,100.00,10,2,0,Thunder,Sydney,2024-12-30,Renegades,field,Big Bash League,night,Thunder,Renegades,Renegades
24542,379504,6,3,3,0,0,100.00,10,1,1,Strikers,Melbourne (Docklands),2025-01-02,Strikers,field,Big Bash League,night,Renegades,Strikers,Renegades
24543,379504,6,0,1,0,0,0.00,10,2,1,Stars,Melbourne (Docklands),2025-01-12,Renegades,field,Big Bash League,night,Stars,Renegades,Renegades

In [18]:
batData["isTossWon"] = (batData["TossWonTeam"] == batData["PlayerTeam"]).astype(int)

In [19]:
batData

,ID,GameFormat,Runs,BF,Fours,Sixes,SR,BattingPosition,BattingInnings,IsOut,...,MatchDate,MatchLink,TossWonTeam,TossResult,Series,MatchTime,Team1,Team2,PlayerTeam,isTossWon
0,34102,3,50,40,7,2,125.00,5,1,0,...,2007-09-20,https://www.espncricinfo.com/ci/engine/match/2...,India,bat,ICC World Twenty20,night,India,South Africa,India,1
1,34102,3,8,5,0,1,160.00,6,1,0,...,2007-09-22,https://www.espncricinfo.com/ci/engine/match/2...,India,bat,ICC World Twenty20Australia tour of South Africa,night,India,Australia,India,1
2,34102,3,30,16,2,1,187.50,6,1,0,...,2007-09-24,https://www.espncricinfo.com/ci/engine/match/2...,India,bat,ICC World Twenty20Pakistan tour of Kenya and S...,day,India,Pakistan,India,1
3,34102,3,8,8,1,0,100.00,5,1,1,...,2008-02-01,https://www.espncricinfo.com/ci/engine/match/2...,India,bat,India tour of Australia,night,India,Australia,India,1
4,34102,3,4,11,0,0,36.36,6,2,1,...,2009-02-10,https://www.espncricinfo.com/ci/engine/match/3...,Sri Lanka,bat,India tour of Sri Lanka,night,Sri Lanka,India,India,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
24539,379504,6,0,1,0,0,0.00,11,1,0,...,2024-11-16,https://www.espncricinfo.com/ci/engine/match/1...,Australia,bat,Pakistan tour of Australia,night,Australia,Pakistan,Australia,1
24540,379504,6,1,2,0,0,50.00,10,2,0,...,2024-12-23,https://www.espncricinfo.com/ci/engine/match/1...,Renegades,field,Big Bash League,night,Scorchers,Renegades,Renegades,1
24541,379504,6,2,2,0,0,100.00,10,2,0,...,2024-12-30,https://www.espncricinfo.com/ci/engine/match/1...,Renegades,field,Big Bash League,night,Thunder,Renegades,Renegades,1
24542,379504,6,3,3,0,0,100.00,10,1,1,...,2025-01-02,https://www.espncricinfo.com/ci/engine/match/1...,Strikers,field,Big Bash League,night,Renegades,Strikers,Renegades,0
24543,379504,6,0,1,0,0,0.00,10,2,1,...,2025-01-12,https://www.espncricinfo.com/ci/engine/match/1...,Renegades,field,Big Bash League,night,Stars,Renegades,Renegades,1

In [20]:
def calculateBattingFantasy(df):
    df["Fantasy"] = df["Runs"] + 4 * df["Fours"] + 6 * df["Sixes"] + 4
    df.loc[df["Runs"] >= 25, "Fantasy"] += 4
    df.loc[df["Runs"] >= 50, "Fantasy"] += 8
    df.loc[df["Runs"] >= 75, "Fantasy"] += 12
    df.loc[df["Runs"] >= 100, "Fantasy"] += 16
    df.loc[(df["Runs"] == 0) & (df["IsOut"] == 1), "Fantasy"] -= 2
    df.loc[df["SR"] > 170, "Fantasy"] += 6
    df.loc[(df["SR"] <= 170) & (df["SR"] > 150), "Fantasy"] += 4
    df.loc[(df["SR"] <= 150) & (df["SR"] > 130), "Fantasy"] += 2
    df.loc[df["SR"] < 50, "Fantasy"] -= 6
    df.loc[(df["SR"] >= 50) & (df["SR"] < 60), "Fantasy"] -= 4
    df.loc[(df["SR"] >= 60) & (df["SR"] < 70), "Fantasy"] -= 2
    return df

In [21]:
batData = calculateBattingFantasy(batData)

In [22]:
batData

,ID,GameFormat,Runs,BF,Fours,Sixes,SR,BattingPosition,BattingInnings,IsOut,...,MatchLink,TossWonTeam,TossResult,Series,MatchTime,Team1,Team2,PlayerTeam,isTossWon,Fantasy
0,34102,3,50,40,7,2,125.00,5,1,0,...,https://www.espncricinfo.com/ci/engine/match/2...,India,bat,ICC World Twenty20,night,India,South Africa,India,1,106
1,34102,3,8,5,0,1,160.00,6,1,0,...,https://www.espncricinfo.com/ci/engine/match/2...,India,bat,ICC World Twenty20Australia tour of South Africa,night,India,Australia,India,1,22
2,34102,3,30,16,2,1,187.50,6,1,0,...,https://www.espncricinfo.com/ci/engine/match/2...,India,bat,ICC World Twenty20Pakistan tour of Kenya and S...,day,India,Pakistan,India,1,58
3,34102,3,8,8,1,0,100.00,5,1,1,...,https://www.espncricinfo.com/ci/engine/match/2...,India,bat,India tour of Australia,night,India,Australia,India,1,16
4,34102,3,4,11,0,0,36.36,6,2,1,...,https://www.espncricinfo.com/ci/engine/match/3...,Sri Lanka,bat,India tour of Sri Lanka,night,Sri Lanka,India,India,0,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
24539,379504,6,0,1,0,0,0.00,11,1,0,...,https://www.espncricinfo.com/ci/engine/match/1...,Australia,bat,Pakistan tour of Australia,night,Australia,Pakistan,Australia,1,-2
24540,379504,6,1,2,0,0,50.00,10,2,0,...,https://www.espncricinfo.com/ci/engine/match/1...,Renegades,field,Big Bash League,night,Scorchers,Renegades,Renegades,1,1
24541,379504,6,2,2,0,0,100.00,10,2,0,...,https://www.espncricinfo.com/ci/engine/match/1...,Renegades,field,Big Bash League,night,Thunder,Renegades,Renegades,1,6
24542,379504,6,3,3,0,0,100.00,10,1,1,...,https://www.espncricinfo.com/ci/engine/match/1...,Strikers,field,Big Bash League,night,Renegades,Strikers,Renegades,0,7
24543,379504,6,0,1,0,0,0.00,10,2,1,...,https://www.espncricinfo.com/ci/engine/match/1...,Renegades,field,Big Bash League,night,Stars,Renegades,Renegades,1,-4

In [23]:
batData.columns

Index(['ID', 'GameFormat', 'Runs', 'BF', 'Fours', 'Sixes', 'SR',
       'BattingPosition', 'BattingInnings', 'IsOut', 'Opposition', 'Ground',
       'MatchDate', 'MatchLink', 'TossWonTeam', 'TossResult', 'Series',
       'MatchTime', 'Team1', 'Team2', 'PlayerTeam', 'isTossWon', 'Fantasy'],
      dtype='object')

In [24]:
batData.drop(["Team1", "Team2", "TossWonTeam"], axis = 1, inplace = True)

In [25]:
batData.columns

Index(['ID', 'GameFormat', 'Runs', 'BF', 'Fours', 'Sixes', 'SR',
       'BattingPosition', 'BattingInnings', 'IsOut', 'Opposition', 'Ground',
       'MatchDate', 'MatchLink', 'TossResult', 'Series', 'MatchTime',
       'PlayerTeam', 'isTossWon', 'Fantasy'],
      dtype='object')

In [27]:
ground_data = pd.read_csv("data/Drumsticks - RawGroundWiseData.csv")

In [28]:
ground_data

,Ground,ID,Latitude,Longitude,Home Team (Franchise Cricket),Ground Country (For International)
0,Durban,59089,-29.85870,31.0292,Super Giants,South Africa
1,Johannesburg,59120,-26.20410,28.0473,Super Kings,South Africa
2,Melbourne,56441,-37.81360,144.9631,Stars,Australia
3,Colombo (RPS),59306,6.93440,79.8538,Neutral,Sri Lanka
4,Christchurch,58810,-43.53210,172.6362,Canterbury,New Zealand
...,...,...,...,...,...,...
207,Southgate,57319,51.62870,-0.1275,Middlesex,England
208,Radlett,271204,51.68540,-0.3222,Neutral,England
209,Bready,58650,54.83330,-7.3818,Neutral,Ireland
210,Scarborough,57290,54.28310,-0.3995,Neutral,West Indies
211,Maggona,515435,6.51278,79.9933,Neutral,Sri Lanka

In [29]:
batData["isHomeGround"] = 0

In [30]:
batData

,ID,GameFormat,Runs,BF,Fours,Sixes,SR,BattingPosition,BattingInnings,IsOut,...,Ground,MatchDate,MatchLink,TossResult,Series,MatchTime,PlayerTeam,isTossWon,Fantasy,isHomeGround
0,34102,3,50,40,7,2,125.00,5,1,0,...,Durban,2007-09-20,https://www.espncricinfo.com/ci/engine/match/2...,bat,ICC World Twenty20,night,India,1,106,0
1,34102,3,8,5,0,1,160.00,6,1,0,...,Durban,2007-09-22,https://www.espncricinfo.com/ci/engine/match/2...,bat,ICC World Twenty20Australia tour of South Africa,night,India,1,22,0
2,34102,3,30,16,2,1,187.50,6,1,0,...,Johannesburg,2007-09-24,https://www.espncricinfo.com/ci/engine/match/2...,bat,ICC World Twenty20Pakistan tour of Kenya and S...,day,India,1,58,0
3,34102,3,8,8,1,0,100.00,5,1,1,...,Melbourne,2008-02-01,https://www.espncricinfo.com/ci/engine/match/2...,bat,India tour of Australia,night,India,1,16,0
4,34102,3,4,11,0,0,36.36,6,2,1,...,Colombo (RPS),2009-02-10,https://www.espncricinfo.com/ci/engine/match/3...,bat,India tour of Sri Lanka,night,India,0,2,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
24539,379504,6,0,1,0,0,0.00,11,1,0,...,Sydney,2024-11-16,https://www.espncricinfo.com/ci/engine/match/1...,bat,Pakistan tour of Australia,night,Australia,1,-2,0
24540,379504,6,1,2,0,0,50.00,10,2,0,...,Melbourne (Docklands),2024-12-23,https://www.espncricinfo.com/ci/engine/match/1...,field,Big Bash League,night,Renegades,1,1,0
24541,379504,6,2,2,0,0,100.00,10,2,0,...,Sydney,2024-12-30,https://www.espncricinfo.com/ci/engine/match/1...,field,Big Bash League,night,Renegades,1,6,0
24542,379504,6,3,3,0,0,100.00,10,1,1,...,Melbourne (Docklands),2025-01-02,https://www.espncricinfo.com/ci/engine/match/1...,field,Big Bash League,night,Renegades,0,7,0
24543,379504,6,0,1,0,0,0.00,10,2,1,...,Melbourne (Docklands),2025-01-12,https://www.espncricinfo.com/ci/engine/match/1...,field,Big Bash League,night,Renegades,1,-4,0

if either home country or home franchise is equal to Player team and ground in ground_data is same for ground in batData then isHomeGround should be 1

In [31]:
batData["GroundID"] = -1
batData["Latitude"] = 0
batData["Longitude"] = 0
batData["FranchiseHome"] = ""
batData["CountryHome"] = ""

In [32]:
import numpy as np

In [33]:
for (index, row) in batData.iterrows():
  filtered_ground_df = ground_data[ground_data["Ground"] == row.Ground]
  franchiseTeams = np.array(filtered_ground_df["Home Team (Franchise Cricket)"])
  countryTeams = np.array(filtered_ground_df["Ground Country (For International)"])
  batData.at[index, "GroundID"] = np.unique(filtered_ground_df["ID"])[0]
  batData.at[index, "Latitude"] = np.unique(filtered_ground_df["Latitude"])[0]
  batData.at[index, "Longitude"] = np.unique(filtered_ground_df["Longitude"])[0]
  if row.PlayerTeam in franchiseTeams or row.PlayerTeam in countryTeams:
    batData.at[index, "isHomeGround"] = 1

/var/folders/_w/4xfs9wld05nfzlbq4p03y6z80000gn/T/ipykernel_60735/3936411901.py:6: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value '-29.8587' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  batData.at[index, "Latitude"] = np.unique(filtered_ground_df["Latitude"])[0]
/var/folders/_w/4xfs9wld05nfzlbq4p03y6z80000gn/T/ipykernel_60735/3936411901.py:7: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value '31.0292' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  batData.at[index, "Longitude"] = np.unique(filtered_ground_df["Longitude"])[0]

In [34]:
batData

,ID,GameFormat,Runs,BF,Fours,Sixes,SR,BattingPosition,BattingInnings,IsOut,...,MatchTime,PlayerTeam,isTossWon,Fantasy,isHomeGround,GroundID,Latitude,Longitude,FranchiseHome,CountryHome
0,34102,3,50,40,7,2,125.00,5,1,0,...,night,India,1,106,0,59089,-29.8587,31.0292,,
1,34102,3,8,5,0,1,160.00,6,1,0,...,night,India,1,22,0,59089,-29.8587,31.0292,,
2,34102,3,30,16,2,1,187.50,6,1,0,...,day,India,1,58,0,59120,-26.2041,28.0473,,
3,34102,3,8,8,1,0,100.00,5,1,1,...,night,India,1,16,0,56441,-37.8136,144.9631,,
4,34102,3,4,11,0,0,36.36,6,2,1,...,night,India,0,2,0,59306,6.9344,79.8538,,
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
24539,379504,6,0,1,0,0,0.00,11,1,0,...,night,Australia,1,-2,1,56544,-33.8688,151.2093,,
24540,379504,6,1,2,0,0,50.00,10,2,0,...,night,Renegades,1,1,1,56450,-37.8136,144.9631,,
24541,379504,6,2,2,0,0,100.00,10,2,0,...,night,Renegades,1,6,0,56544,-33.8688,151.2093,,
24542,379504,6,3,3,0,0,100.00,10,1,1,...,night,Renegades,0,7,1,56450,-37.8136,144.9631,,
24543,379504,6,0,1,0,0,0.00,10,2,1,...,night,Renegades,1,-4,1,56450,-37.8136,144.9631,,

In [35]:
batData.drop(["FranchiseHome", "CountryHome"], axis = 1, inplace = True)

In [36]:
batData

,ID,GameFormat,Runs,BF,Fours,Sixes,SR,BattingPosition,BattingInnings,IsOut,...,TossResult,Series,MatchTime,PlayerTeam,isTossWon,Fantasy,isHomeGround,GroundID,Latitude,Longitude
0,34102,3,50,40,7,2,125.00,5,1,0,...,bat,ICC World Twenty20,night,India,1,106,0,59089,-29.8587,31.0292
1,34102,3,8,5,0,1,160.00,6,1,0,...,bat,ICC World Twenty20Australia tour of South Africa,night,India,1,22,0,59089,-29.8587,31.0292
2,34102,3,30,16,2,1,187.50,6,1,0,...,bat,ICC World Twenty20Pakistan tour of Kenya and S...,day,India,1,58,0,59120,-26.2041,28.0473
3,34102,3,8,8,1,0,100.00,5,1,1,...,bat,India tour of Australia,night,India,1,16,0,56441,-37.8136,144.9631
4,34102,3,4,11,0,0,36.36,6,2,1,...,bat,India tour of Sri Lanka,night,India,0,2,0,59306,6.9344,79.8538
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
24539,379504,6,0,1,0,0,0.00,11,1,0,...,bat,Pakistan tour of Australia,night,Australia,1,-2,1,56544,-33.8688,151.2093
24540,379504,6,1,2,0,0,50.00,10,2,0,...,field,Big Bash League,night,Renegades,1,1,1,56450,-37.8136,144.9631
24541,379504,6,2,2,0,0,100.00,10,2,0,...,field,Big Bash League,night,Renegades,1,6,0,56544,-33.8688,151.2093
24542,379504,6,3,3,0,0,100.00,10,1,1,...,field,Big Bash League,night,Renegades,0,7,1,56450,-37.8136,144.9631
24543,379504,6,0,1,0,0,0.00,10,2,1,...,field,Big Bash League,night,Renegades,1,-4,1,56450,-37.8136,144.9631

In [37]:
np.unique(batData["isHomeGround"], return_counts=True)

(array([0, 1]), array([18110,  6434]))

In [40]:
ground_complete = pd.read_csv("data/Drumsticks - CleanedGroundIDWithData-2.csv")

The idea is to use only data that are relevant for a player, such as if it is a dayNight match and the players team won the toss then we only pick the tossWonRPO, tossLostAvg(to model opponents bowling), dayNightRPO and dayNightAvg
three things affect the ground thing: toss, match time, batting innings and homeground

In [41]:
batData.to_csv("Intermediate.csv", index=False)

In [42]:
ground_complete.columns

Index(['ID', 'HomeWinLossRatio', 'HomeAverage', 'HomeRPO', 'AwayAverage',
       'AwayRPO', 'NeutralAverage', 'NeutralRPO', 'WonTossBattedWinLossRatio',
       'WonTossBattedAverage', 'WonTossBattedRPO',
       'WonTossFieldedWinLossRatio', 'WonTossFieldedAverage',
       'WonTossFieldedRPO', 'LostTossSentInWinLossRatio',
       'LostTossSentInAverage', 'LostTossSentInRPO',
       'LostTossFieldedWinLossRatio', 'LostTossFieldedAverage',
       'LostTossFieldedRPO', 'FirstInningsWinLossRatio', 'FirstInningsAverage',
       'FirstInningsRPO', 'SecondInningsAverage', 'SecondInningsRPO',
       'DayMatchAverage', 'DayMatchRPO', 'DayNightMatchAverage',
       'DayNightMatchRPO', 'NightMatchAverage', 'NightMatchRPO'],
      dtype='object')

In [43]:
ground_complete = ground_complete.rename(columns = {"ID": "GroundID"})

In [44]:
batData = batData.merge(ground_complete, how="inner", on="GroundID")

In [45]:
batData

,ID,GameFormat,Runs,BF,Fours,Sixes,SR,BattingPosition,BattingInnings,IsOut,...,FirstInningsAverage,FirstInningsRPO,SecondInningsAverage,SecondInningsRPO,DayMatchAverage,DayMatchRPO,DayNightMatchAverage,DayNightMatchRPO,NightMatchAverage,NightMatchRPO
0,34102,3,50,40,7,2,125.00,5,1,0,...,23.73,7.81,21.38,7.51,22.00,7.45,22.46,7.65,24.71,8.37
1,34102,3,8,5,0,1,160.00,6,1,0,...,23.73,7.81,21.38,7.51,22.00,7.45,22.46,7.65,24.71,8.37
2,34102,3,30,16,2,1,187.50,6,1,0,...,24.60,8.20,25.02,8.05,24.56,8.08,24.67,8.01,26.35,8.94
3,34102,3,8,8,1,0,100.00,5,1,1,...,23.92,7.94,25.38,7.90,23.20,8.07,23.47,7.83,25.28,7.93
4,34102,3,4,11,0,0,36.36,6,2,1,...,21.25,7.78,21.09,7.65,20.11,7.68,22.68,7.71,21.42,7.76
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
24476,379504,6,0,1,0,0,0.00,11,1,0,...,25.22,8.18,22.66,7.86,21.63,8.21,26.55,8.22,23.58,7.97
24477,379504,6,1,2,0,0,50.00,10,2,0,...,25.57,8.03,24.07,7.95,25.05,7.77,26.99,8.23,24.27,7.94
24478,379504,6,2,2,0,0,100.00,10,2,0,...,25.22,8.18,22.66,7.86,21.63,8.21,26.55,8.22,23.58,7.97
24479,379504,6,3,3,0,0,100.00,10,1,1,...,25.57,8.03,24.07,7.95,25.05,7.77,26.99,8.23,24.27,7.94
24480,379504,6,0,1,0,0,0.00,10,2,1,...,25.57,8.03,24.07,7.95,25.05,7.77,26.99,8.23,24.27,7.94

In [46]:
batData.columns

Index(['ID', 'GameFormat', 'Runs', 'BF', 'Fours', 'Sixes', 'SR',
       'BattingPosition', 'BattingInnings', 'IsOut', 'Opposition', 'Ground',
       'MatchDate', 'MatchLink', 'TossResult', 'Series', 'MatchTime',
       'PlayerTeam', 'isTossWon', 'Fantasy', 'isHomeGround', 'GroundID',
       'Latitude', 'Longitude', 'HomeWinLossRatio', 'HomeAverage', 'HomeRPO',
       'AwayAverage', 'AwayRPO', 'NeutralAverage', 'NeutralRPO',
       'WonTossBattedWinLossRatio', 'WonTossBattedAverage', 'WonTossBattedRPO',
       'WonTossFieldedWinLossRatio', 'WonTossFieldedAverage',
       'WonTossFieldedRPO', 'LostTossSentInWinLossRatio',
       'LostTossSentInAverage', 'LostTossSentInRPO',
       'LostTossFieldedWinLossRatio', 'LostTossFieldedAverage',
       'LostTossFieldedRPO', 'FirstInningsWinLossRatio', 'FirstInningsAverage',
       'FirstInningsRPO', 'SecondInningsAverage', 'SecondInningsRPO',
       'DayMatchAverage', 'DayMatchRPO', 'DayNightMatchAverage',
       'DayNightMatchRPO', 'NightMatchAverage', 'NightMatchRPO'],
      dtype='object')

In [47]:
batData["GroundWL"] = batData["HomeWinLossRatio"]
batData.drop("HomeWinLossRatio", axis=1, inplace=True)

In [48]:
np.unique(batData["GroundWL"])

array([0.   , 0.2  , 0.25 , 0.333, 0.363, 0.375, 0.4  , 0.428, 0.5  ,
       0.583, 0.614, 0.615, 0.636, 0.645, 0.647, 0.652, 0.666, 0.7  ,
       0.707, 0.71 , 0.714, 0.75 , 0.755, 0.769, 0.777, 0.79 , 0.8  ,
       0.809, 0.814, 0.818, 0.833, 0.846, 0.853, 0.857, 0.88 , 0.888,
       0.896, 0.9  , 0.901, 0.904, 0.914, 0.916, 0.923, 0.933, 0.937,
       0.946, 0.949, 0.965, 0.974, 0.979, 0.98 , 1.   , 1.016, 1.036,
       1.041, 1.05 , 1.052, 1.066, 1.067, 1.075, 1.076, 1.1  , 1.105,
       1.112, 1.122, 1.125, 1.128, 1.142, 1.145, 1.178, 1.179, 1.181,
       1.189, 1.2  , 1.207, 1.23 , 1.24 , 1.25 , 1.27 , 1.275, 1.285,
       1.323, 1.326, 1.357, 1.358, 1.384, 1.388, 1.4  , 1.419, 1.428,
       1.45 , 1.454, 1.461, 1.465, 1.5  , 1.517, 1.525, 1.529, 1.6  ,
       1.616, 1.625, 1.666, 1.673, 1.703, 1.744, 1.75 , 1.777, 1.789,
       1.812, 1.818, 1.846, 1.931, 1.967, 2.   , 2.1  , 2.259, 2.285,
       2.35 , 2.409, 2.461, 2.5  , 3.   , 3.2  , 4.   , 4.375])

In [49]:
batData["GroundRPO"] = 0
batData["GroundAvg"] = 0
for (index, row) in batData.iterrows():
  if row.isHomeGround:
    batData.at[index, "GroundRPO"] = row.HomeRPO
    batData.at[index, "GroundAvg"] = row.AwayAverage
  else:
    batData.at[index, "GroundRPO"] = row.AwayRPO
    batData.at[index, "GroundAvg"] = row.HomeAverage
batData.drop(["HomeRPO", "AwayRPO", "AwayAverage", "HomeAverage", "NeutralAverage", "NeutralRPO"], axis = 1, inplace=True)

/var/folders/_w/4xfs9wld05nfzlbq4p03y6z80000gn/T/ipykernel_60735/3577676258.py:8: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value '7.68' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  batData.at[index, "GroundRPO"] = row.AwayRPO
/var/folders/_w/4xfs9wld05nfzlbq4p03y6z80000gn/T/ipykernel_60735/3577676258.py:9: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value '23.16' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  batData.at[index, "GroundAvg"] = row.HomeAverage

In [50]:
np.unique(batData["GroundRPO"])

array([ 0.  ,  5.4 ,  6.03,  6.05,  6.17,  6.28,  6.38,  6.39,  6.41,
        6.51,  6.56,  6.59,  6.6 ,  6.61,  6.64,  6.69,  6.7 ,  6.72,
        6.81,  6.88,  6.9 ,  6.94,  6.95,  6.98,  7.03,  7.07,  7.1 ,
        7.14,  7.15,  7.18,  7.21,  7.22,  7.23,  7.25,  7.26,  7.27,
        7.28,  7.29,  7.3 ,  7.31,  7.33,  7.34,  7.35,  7.36,  7.38,
        7.4 ,  7.42,  7.43,  7.45,  7.46,  7.47,  7.49,  7.51,  7.53,
        7.54,  7.55,  7.56,  7.57,  7.58,  7.59,  7.6 ,  7.61,  7.62,
        7.63,  7.64,  7.66,  7.67,  7.68,  7.69,  7.7 ,  7.73,  7.74,
        7.75,  7.76,  7.78,  7.79,  7.8 ,  7.81,  7.84,  7.86,  7.87,
        7.9 ,  7.91,  7.92,  7.93,  7.94,  7.95,  7.96,  7.97,  7.98,
        7.99,  8.01,  8.02,  8.03,  8.04,  8.05,  8.06,  8.07,  8.08,
        8.09,  8.11,  8.12,  8.13,  8.14,  8.15,  8.16,  8.17,  8.18,
        8.19,  8.2 ,  8.21,  8.22,  8.23,  8.24,  8.25,  8.27,  8.28,
        8.29,  8.3 ,  8.31,  8.32,  8.33,  8.34,  8.37,  8.38,  8.39,
        8.41,  8.42,  8.43,  8.44,  8.45,  8.46,  8.47,  8.48,  8.49,
        8.5 ,  8.52,  8.55,  8.56,  8.59,  8.6 ,  8.63,  8.64,  8.69,
        8.7 ,  8.72,  8.75,  8.8 ,  8.83,  8.88,  8.89,  8.9 ,  8.99,
        9.  ,  9.01,  9.24,  9.27,  9.28,  9.3 ,  9.67,  9.95, 10.29,
       10.45, 10.5 , 11.15])

In [51]:
np.unique(batData["GroundAvg"])

array([ 0.  , 12.7 , 13.75, 13.9 , 14.4 , 15.11, 15.36, 15.81, 16.35,
       16.58, 16.62, 16.67, 16.72, 16.85, 17.31, 17.58, 18.05, 18.07,
       18.27, 18.44, 18.46, 18.5 , 18.57, 18.66, 18.88, 18.89, 18.9 ,
       19.  , 19.21, 19.23, 19.25, 19.32, 19.41, 19.57, 19.62, 19.64,
       19.66, 19.73, 19.78, 19.99, 20.03, 20.27, 20.32, 20.42, 20.44,
       20.47, 20.53, 20.55, 20.6 , 20.67, 20.68, 20.81, 20.85, 21.09,
       21.14, 21.15, 21.23, 21.28, 21.35, 21.39, 21.45, 21.46, 21.72,
       21.8 , 21.89, 21.9 , 21.91, 21.98, 21.99, 22.  , 22.06, 22.14,
       22.15, 22.18, 22.21, 22.4 , 22.42, 22.44, 22.49, 22.52, 22.54,
       22.58, 22.65, 22.66, 22.7 , 22.72, 22.75, 22.82, 22.88, 22.92,
       22.93, 22.94, 22.96, 22.97, 23.01, 23.1 , 23.11, 23.16, 23.17,
       23.18, 23.24, 23.25, 23.26, 23.29, 23.3 , 23.31, 23.33, 23.36,
       23.39, 23.43, 23.44, 23.5 , 23.52, 23.55, 23.56, 23.64, 23.66,
       23.67, 23.76, 23.77, 23.8 , 23.82, 23.83, 23.85, 23.89, 23.9 ,
       23.91, 24.01, 24.03, 24.04, 24.05, 24.09, 24.11, 24.13, 24.16,
       24.19, 24.2 , 24.24, 24.26, 24.27, 24.28, 24.34, 24.38, 24.42,
       24.46, 24.55, 24.58, 24.61, 24.62, 24.64, 24.68, 24.7 , 24.71,
       24.72, 24.73, 24.76, 24.77, 24.8 , 24.82, 24.85, 24.86, 24.87,
       24.88, 24.94, 24.96, 24.97, 25.  , 25.01, 25.03, 25.06, 25.08,
       25.09, 25.1 , 25.15, 25.19, 25.2 , 25.23, 25.28, 25.3 , 25.39,
       25.41, 25.46, 25.48, 25.62, 25.66, 25.71, 25.78, 25.88, 25.92,
       25.94, 26.05, 26.06, 26.1 , 26.13, 26.15, 26.17, 26.26, 26.3 ,
       26.31, 26.36, 26.41, 26.44, 26.46, 26.51, 26.57, 26.6 , 26.62,
       26.66, 26.77, 26.91, 26.98, 27.03, 27.05, 27.08, 27.1 , 27.18,
       27.2 , 27.22, 27.25, 27.31, 27.44, 27.49, 27.53, 27.55, 27.62,
       27.78, 27.96, 27.97, 28.29, 28.4 , 28.43, 29.  , 29.14, 29.68,
       29.75, 29.93, 30.31, 30.76, 30.93, 31.33, 31.89, 33.  , 33.33,
       33.75, 34.11, 55.  ])

In [52]:
batData.columns

Index(['ID', 'GameFormat', 'Runs', 'BF', 'Fours', 'Sixes', 'SR',
       'BattingPosition', 'BattingInnings', 'IsOut', 'Opposition', 'Ground',
       'MatchDate', 'MatchLink', 'TossResult', 'Series', 'MatchTime',
       'PlayerTeam', 'isTossWon', 'Fantasy', 'isHomeGround', 'GroundID',
       'Latitude', 'Longitude', 'WonTossBattedWinLossRatio',
       'WonTossBattedAverage', 'WonTossBattedRPO',
       'WonTossFieldedWinLossRatio', 'WonTossFieldedAverage',
       'WonTossFieldedRPO', 'LostTossSentInWinLossRatio',
       'LostTossSentInAverage', 'LostTossSentInRPO',
       'LostTossFieldedWinLossRatio', 'LostTossFieldedAverage',
       'LostTossFieldedRPO', 'FirstInningsWinLossRatio', 'FirstInningsAverage',
       'FirstInningsRPO', 'SecondInningsAverage', 'SecondInningsRPO',
       'DayMatchAverage', 'DayMatchRPO', 'DayNightMatchAverage',
       'DayNightMatchRPO', 'NightMatchAverage', 'NightMatchRPO', 'GroundWL',
       'GroundRPO', 'GroundAvg'],
      dtype='object')

In [53]:
batData["TossWL"] = 0

In [54]:
batData["TossRPO"] = 0
batData["TossAvg"] = 0
for (index, row) in batData.iterrows():
  if row.isTossWon:
    if row.TossResult == "bat":
      batData.at[index, "TossWL"] = row.WonTossBattedWinLossRatio
      batData.at[index, "TossRPO"] = row.WonTossBattedRPO
      batData.at[index, "TossAvg"] = row.LostTossFieldedAverage
    else:
      batData.at[index, "TossWL"] = row.WonTossFieldedWinLossRatio
      batData.at[index, "TossRPO"] = row.WonTossFieldedRPO
      batData.at[index, "TossAvg"] = row.LostTossSentInAverage
  else:
    if row.TossResult == "bat":
      batData.at[index, "TossWL"] = row.LostTossFieldedWinLossRatio
      batData.at[index, "TossRPO"] = row.LostTossFieldedRPO
      batData.at[index, "TossAvg"] = row.WonTossBattedAverage
    else:
      batData.at[index, "TossWL"] = row.LostTossSentInWinLossRatio
      batData.at[index, "TossRPO"] = row.LostTossSentInRPO
      batData.at[index, "TossAvg"] = row.WonTossFieldedAverage
batData.drop(['WonTossBattedWinLossRatio',
       'WonTossBattedAverage', 'WonTossBattedRPO',
       'WonTossFieldedWinLossRatio', 'WonTossFieldedAverage',
       'WonTossFieldedRPO', 'LostTossSentInWinLossRatio',
       'LostTossSentInAverage', 'LostTossSentInRPO',
       'LostTossFieldedWinLossRatio', 'LostTossFieldedAverage',
       'LostTossFieldedRPO'], axis = 1, inplace=True)

/var/folders/_w/4xfs9wld05nfzlbq4p03y6z80000gn/T/ipykernel_60735/1363688595.py:6: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value '1.236' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  batData.at[index, "TossWL"] = row.WonTossBattedWinLossRatio
/var/folders/_w/4xfs9wld05nfzlbq4p03y6z80000gn/T/ipykernel_60735/1363688595.py:7: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value '7.72' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  batData.at[index, "TossRPO"] = row.WonTossBattedRPO
/var/folders/_w/4xfs9wld05nfzlbq4p03y6z80000gn/T/ipykernel_60735/1363688595.py:8: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value '22.26' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  batData.at[index, "TossAvg"] = row.LostTossFieldedAverage

In [55]:
np.unique(batData["TossAvg"])

array([ 0.   , 10.4  , 11.1  , 11.69 , 11.87 , 12.3  , 12.44 , 12.52 ,
       12.7  , 13.06 , 13.15 , 13.21 , 13.4  , 13.97 , 14.23 , 14.41 ,
       14.73 , 14.81 , 14.83 , 15.1  , 15.43 , 15.86 , 16.21 , 16.38 ,
       16.42 , 16.45 , 16.48 , 16.58 , 16.66 , 16.82 , 16.91 , 16.95 ,
       17.18 , 17.19 , 17.27 , 17.35 , 17.37 , 17.43 , 17.44 , 17.49 ,
       17.57 , 17.71 , 17.84 , 17.87 , 17.88 , 17.92 , 17.97 , 18.04 ,
       18.07 , 18.1  , 18.23 , 18.27 , 18.29 , 18.3  , 18.38 , 18.42 ,
       18.5  , 18.52 , 18.59 , 18.67 , 18.72 , 18.73 , 18.74 , 18.76 ,
       18.77 , 18.8  , 18.84 , 18.92 , 18.93 , 18.96 , 19.   , 19.16 ,
       19.18 , 19.2  , 19.27 , 19.33 , 19.35 , 19.36 , 19.44 , 19.48 ,
       19.59 , 19.65 , 19.71 , 19.72 , 19.73 , 19.76 , 19.77 , 19.78 ,
       19.8  , 19.81 , 19.86 , 19.87 , 19.88 , 19.89 , 19.9  , 19.93 ,
       20.06 , 20.1  , 20.11 , 20.13 , 20.15 , 20.16 , 20.2  , 20.21 ,
       20.23 , 20.25 , 20.26 , 20.29 , 20.3  , 20.33 , 20.37 , 20.47 ,
       20.5  , 20.56 , 20.6  , 20.61 , 20.62 , 20.64 , 20.72 , 20.74 ,
       20.76 , 20.8  , 20.81 , 20.83 , 20.84 , 20.85 , 20.89 , 20.92 ,
       20.95 , 21.   , 21.01 , 21.02 , 21.08 , 21.17 , 21.19 , 21.2  ,
       21.21 , 21.26 , 21.35 , 21.37 , 21.39 , 21.4  , 21.41 , 21.46 ,
       21.47 , 21.48 , 21.5  , 21.52 , 21.55 , 21.56 , 21.58 , 21.59 ,
       21.61 , 21.65 , 21.66 , 21.67 , 21.69 , 21.7  , 21.71 , 21.72 ,
       21.8  , 21.82 , 21.86 , 21.87 , 21.9  , 21.93 , 21.95 , 21.96 ,
       22.   , 22.01 , 22.02 , 22.03 , 22.04 , 22.06 , 22.07 , 22.14 ,
       22.15 , 22.2  , 22.22 , 22.24 , 22.25 , 22.26 , 22.27 , 22.29 ,
       22.3  , 22.31 , 22.32 , 22.33 , 22.35 , 22.38 , 22.4  , 22.42 ,
       22.43 , 22.44 , 22.45 , 22.46 , 22.47 , 22.49 , 22.5  , 22.51 ,
       22.54 , 22.55 , 22.59 , 22.62 , 22.64 , 22.66 , 22.668, 22.67 ,
       22.71 , 22.73 , 22.76 , 22.77 , 22.78 , 22.8  , 22.81 , 22.84 ,
       22.85 , 22.86 , 22.87 , 22.89 , 22.92 , 22.98 , 23.   , 23.01 ,
       23.02 , 23.03 , 23.1  , 23.12 , 23.18 , 23.19 , 23.24 , 23.26 ,
       23.27 , 23.29 , 23.3  , 23.31 , 23.36 , 23.4  , 23.41 , 23.42 ,
       23.44 , 23.51 , 23.53 , 23.55 , 23.57 , 23.62 , 23.64 , 23.65 ,
       23.66 , 23.7  , 23.72 , 23.74 , 23.75 , 23.77 , 23.78 , 23.79 ,
       23.81 , 23.82 , 23.83 , 23.84 , 23.85 , 23.88 , 23.9  , 23.91 ,
       23.94 , 23.95 , 23.96 , 23.97 , 24.   , 24.01 , 24.02 , 24.05 ,
       24.06 , 24.08 , 24.1  , 24.11 , 24.14 , 24.15 , 24.16 , 24.17 ,
       24.19 , 24.22 , 24.29 , 24.31 , 24.32 , 24.33 , 24.35 , 24.36 ,
       24.37 , 24.38 , 24.4  , 24.44 , 24.46 , 24.47 , 24.51 , 24.52 ,
       24.56 , 24.57 , 24.61 , 24.62 , 24.63 , 24.66 , 24.67 , 24.69 ,
       24.75 , 24.77 , 24.78 , 24.82 , 24.84 , 24.85 , 24.86 , 24.89 ,
       24.94 , 24.97 , 25.   , 25.01 , 25.05 , 25.06 , 25.07 , 25.08 ,
       25.09 , 25.12 , 25.13 , 25.14 , 25.16 , 25.17 , 25.18 , 25.19 ,
       25.2  , 25.24 , 25.25 , 25.28 , 25.29 , 25.3  , 25.31 , 25.36 ,
       25.38 , 25.39 , 25.44 , 25.46 , 25.48 , 25.49 , 25.5  , 25.51 ,
       25.52 , 25.53 , 25.57 , 25.58 , 25.59 , 25.6  , 25.62 , 25.64 ,
       25.66 , 25.67 , 25.72 , 25.74 , 25.77 , 25.78 , 25.81 , 25.82 ,
       25.83 , 25.86 , 25.9  , 25.96 , 25.97 , 26.02 , 26.04 , 26.08 ,
       26.09 , 26.1  , 26.15 , 26.17 , 26.21 , 26.22 , 26.23 , 26.24 ,
       26.25 , 26.32 , 26.33 , 26.35 , 26.36 , 26.38 , 26.41 , 26.42 ,
       26.46 , 26.47 , 26.49 , 26.5  , 26.52 , 26.55 , 26.58 , 26.59 ,
       26.63 , 26.69 , 26.74 , 26.75 , 26.8  , 26.9  , 26.92 , 26.93 ,
       26.94 , 26.96 , 27.01 , 27.07 , 27.1  , 27.11 , 27.14 , 27.15 ,
       27.19 , 27.2  , 27.32 , 27.35 , 27.39 , 27.41 , 27.47 , 27.52 ,
       27.53 , 27.56 , 27.58 , 27.6  , 27.63 , 27.71 , 27.76 , 27.79 ,
       27.91 , 27.98 , 28.13 , 28.18 , 28.25 , 28.27 , 28.28 , 28.35 ,
       28.4  , 28.46 , 28.51 , 28.62 , 28.63 , 28.65 , 28.67 , 28.8  ,
       28.9  , 28.94 , 29.   , 29.04 , 29.2  , 29.24 , 29.5  , 29.71 ,
       29.95 , 30.07 , 30.09 , 30.54 , 30.92 , 31.11 , 31.25 , 31.42 ,
       31.53 , 31.88 , 32.62 , 32.7  , 33.16 , 33.33 , 35.17 , 35.2  ,
       35.21 , 35.43 , 35.92 , 36.2  , 38.   , 38.14 , 38.83 , 40.64 ,
       40.75 , 41.   , 41.5  , 41.8  , 42.22 , 49.53 , 74.   , 83.5  ])

In [56]:
batData.columns

Index(['ID', 'GameFormat', 'Runs', 'BF', 'Fours', 'Sixes', 'SR',
       'BattingPosition', 'BattingInnings', 'IsOut', 'Opposition', 'Ground',
       'MatchDate', 'MatchLink', 'TossResult', 'Series', 'MatchTime',
       'PlayerTeam', 'isTossWon', 'Fantasy', 'isHomeGround', 'GroundID',
       'Latitude', 'Longitude', 'FirstInningsWinLossRatio',
       'FirstInningsAverage', 'FirstInningsRPO', 'SecondInningsAverage',
       'SecondInningsRPO', 'DayMatchAverage', 'DayMatchRPO',
       'DayNightMatchAverage', 'DayNightMatchRPO', 'NightMatchAverage',
       'NightMatchRPO', 'GroundWL', 'GroundRPO', 'GroundAvg', 'TossWL',
       'TossRPO', 'TossAvg'],
      dtype='object')

In [57]:
batData["inningsWL"] = batData["FirstInningsWinLossRatio"]
batData["inningsRPO"] = 0
batData["inningsAverage"] = 0

for (index, row) in batData.iterrows():
  if row.BattingInnings == 1:
    batData.at[index, "inningsRPO"] = row.FirstInningsRPO
    batData.at[index, "inningsAverage"] = row.FirstInningsAverage
  else:
    batData.at[index, "inningsRPO"] = row.SecondInningsRPO
    batData.at[index, "inningsAverage"] = row.SecondInningsAverage

batData.drop(['FirstInningsWinLossRatio',
       'FirstInningsAverage', 'FirstInningsRPO', 'SecondInningsAverage',
       'SecondInningsRPO'], axis = 1, inplace=True)

/var/folders/_w/4xfs9wld05nfzlbq4p03y6z80000gn/T/ipykernel_60735/2732385294.py:7: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value '7.81' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  batData.at[index, "inningsRPO"] = row.FirstInningsRPO
/var/folders/_w/4xfs9wld05nfzlbq4p03y6z80000gn/T/ipykernel_60735/2732385294.py:8: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value '23.73' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  batData.at[index, "inningsAverage"] = row.FirstInningsAverage

In [58]:
np.unique(batData["inningsAverage"])

array([11.7 , 12.52, 12.85, 13.14, 13.19, 13.47, 14.4 , 14.73, 15.56,
       15.57, 16.  , 16.09, 16.65, 16.81, 16.87, 16.94, 17.08, 17.09,
       17.48, 17.58, 17.59, 17.6 , 17.62, 17.69, 18.03, 18.12, 18.19,
       18.2 , 18.23, 18.48, 18.51, 18.74, 18.77, 18.78, 18.86, 18.87,
       18.96, 19.  , 19.07, 19.18, 19.19, 19.22, 19.3 , 19.49, 19.52,
       19.65, 19.72, 19.85, 19.89, 19.92, 19.94, 19.97, 20.05, 20.1 ,
       20.12, 20.15, 20.21, 20.28, 20.34, 20.44, 20.46, 20.48, 20.63,
       20.69, 20.76, 20.8 , 20.81, 20.84, 20.89, 20.95, 21.08, 21.09,
       21.11, 21.13, 21.14, 21.16, 21.18, 21.2 , 21.24, 21.25, 21.29,
       21.35, 21.38, 21.42, 21.58, 21.63, 21.65, 21.68, 21.74, 21.75,
       21.83, 21.84, 21.89, 21.9 , 21.91, 21.94, 21.96, 22.  , 22.03,
       22.05, 22.1 , 22.12, 22.13, 22.22, 22.26, 22.28, 22.34, 22.35,
       22.37, 22.45, 22.47, 22.59, 22.6 , 22.61, 22.64, 22.65, 22.66,
       22.71, 22.76, 22.78, 22.79, 22.8 , 22.85, 22.9 , 22.92, 22.95,
       23.  , 23.06, 23.07, 23.1 , 23.14, 23.17, 23.19, 23.2 , 23.23,
       23.24, 23.29, 23.3 , 23.32, 23.36, 23.39, 23.45, 23.46, 23.48,
       23.5 , 23.52, 23.54, 23.56, 23.58, 23.59, 23.61, 23.62, 23.65,
       23.68, 23.69, 23.7 , 23.73, 23.77, 23.8 , 23.82, 23.83, 23.84,
       23.85, 23.86, 23.87, 23.91, 23.92, 23.95, 23.96, 23.99, 24.02,
       24.05, 24.06, 24.07, 24.09, 24.1 , 24.13, 24.14, 24.16, 24.17,
       24.2 , 24.23, 24.24, 24.25, 24.26, 24.27, 24.34, 24.37, 24.39,
       24.4 , 24.41, 24.42, 24.43, 24.5 , 24.51, 24.53, 24.57, 24.59,
       24.6 , 24.64, 24.65, 24.68, 24.72, 24.74, 24.75, 24.76, 24.79,
       24.8 , 24.84, 24.85, 24.88, 24.92, 24.94, 24.96, 24.99, 25.  ,
       25.01, 25.02, 25.11, 25.16, 25.17, 25.19, 25.22, 25.24, 25.26,
       25.28, 25.34, 25.35, 25.36, 25.38, 25.43, 25.44, 25.51, 25.52,
       25.53, 25.56, 25.57, 25.61, 25.66, 25.67, 25.72, 25.76, 25.77,
       25.78, 25.83, 25.86, 25.88, 25.92, 25.96, 26.02, 26.1 , 26.11,
       26.23, 26.25, 26.27, 26.28, 26.36, 26.41, 26.49, 26.52, 26.58,
       26.61, 26.67, 26.73, 26.77, 26.86, 27.01, 27.02, 27.13, 27.15,
       27.25, 27.4 , 27.46, 27.5 , 27.55, 27.61, 27.69, 27.86, 27.89,
       27.94, 28.  , 28.05, 28.5 , 28.63, 28.7 , 28.74, 28.75, 28.94,
       29.17, 29.65, 30.89, 31.71, 32.69, 33.16, 33.33, 33.56, 34.75,
       35.04, 36.2 , 38.14, 40.64, 44.  , 49.53, 55.  ])

In [59]:
batData.columns

Index(['ID', 'GameFormat', 'Runs', 'BF', 'Fours', 'Sixes', 'SR',
       'BattingPosition', 'BattingInnings', 'IsOut', 'Opposition', 'Ground',
       'MatchDate', 'MatchLink', 'TossResult', 'Series', 'MatchTime',
       'PlayerTeam', 'isTossWon', 'Fantasy', 'isHomeGround', 'GroundID',
       'Latitude', 'Longitude', 'DayMatchAverage', 'DayMatchRPO',
       'DayNightMatchAverage', 'DayNightMatchRPO', 'NightMatchAverage',
       'NightMatchRPO', 'GroundWL', 'GroundRPO', 'GroundAvg', 'TossWL',
       'TossRPO', 'TossAvg', 'inningsWL', 'inningsRPO', 'inningsAverage'],
      dtype='object')

In [60]:
batData.drop(['DayMatchAverage', 'DayMatchRPO',
       'DayNightMatchAverage', 'DayNightMatchRPO', 'NightMatchAverage',
       'NightMatchRPO'], axis = 1, inplace = True)

In [61]:
batData.columns

Index(['ID', 'GameFormat', 'Runs', 'BF', 'Fours', 'Sixes', 'SR',
       'BattingPosition', 'BattingInnings', 'IsOut', 'Opposition', 'Ground',
       'MatchDate', 'MatchLink', 'TossResult', 'Series', 'MatchTime',
       'PlayerTeam', 'isTossWon', 'Fantasy', 'isHomeGround', 'GroundID',
       'Latitude', 'Longitude', 'GroundWL', 'GroundRPO', 'GroundAvg', 'TossWL',
       'TossRPO', 'TossAvg', 'inningsWL', 'inningsRPO', 'inningsAverage'],
      dtype='object')

In [62]:
batData.drop(["PlayerTeam"], axis=1, inplace=True)

In [63]:
batData.columns

Index(['ID', 'GameFormat', 'Runs', 'BF', 'Fours', 'Sixes', 'SR',
       'BattingPosition', 'BattingInnings', 'IsOut', 'Opposition', 'Ground',
       'MatchDate', 'MatchLink', 'TossResult', 'Series', 'MatchTime',
       'isTossWon', 'Fantasy', 'isHomeGround', 'GroundID', 'Latitude',
       'Longitude', 'GroundWL', 'GroundRPO', 'GroundAvg', 'TossWL', 'TossRPO',
       'TossAvg', 'inningsWL', 'inningsRPO', 'inningsAverage'],
      dtype='object')

In [64]:
batData = batData.sort_values('MatchDate', ascending=True)

In [65]:
batData

,ID,GameFormat,Runs,BF,Fours,Sixes,SR,BattingPosition,BattingInnings,IsOut,...,Longitude,GroundWL,GroundRPO,GroundAvg,TossWL,TossRPO,TossAvg,inningsWL,inningsRPO,inningsAverage
7039,28081,6,0,2,0,0,0.00,4,2,1,...,28.0473,1.500,8.05,27.20,1.846,8.03,23.03,0.876,8.05,25.02
6954,28081,3,0,2,0,0,0.00,4,2,1,...,28.0473,1.500,8.05,27.20,1.846,8.03,23.03,0.876,8.05,25.02
12902,44828,6,33,19,6,1,173.68,1,2,1,...,28.1676,1.326,8.60,24.80,1.769,8.42,25.72,0.767,8.34,26.25
12903,44828,6,0,3,0,0,0.00,2,1,1,...,25.6022,1.240,7.28,22.94,0.894,7.53,23.24,0.984,7.46,23.06
12904,44828,6,18,14,2,0,128.57,1,2,1,...,18.4241,1.465,7.62,25.20,0.967,7.64,24.01,0.876,7.68,23.54
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
17835,600498,6,6,5,0,0,120.00,5,2,1,...,28.0473,1.500,8.05,27.20,1.846,8.03,23.03,0.876,8.05,25.02
21080,696401,6,5,11,0,0,45.45,7,2,1,...,28.0473,1.500,8.05,27.20,1.846,8.03,23.03,0.876,8.05,25.02
7720,662973,6,62,33,5,3,187.87,5,1,0,...,55.3431,1.400,7.67,23.26,0.610,7.71,24.37,0.751,7.62,22.59
3073,820351,6,63,38,7,3,165.78,5,2,1,...,55.3431,1.400,7.67,23.26,1.639,7.72,22.51,0.751,7.56,23.19
4419,974087,6,5,9,0,0,55.55,1,1,1,...,55.3431,1.400,7.67,23.26,0.610,7.71,24.37,0.751,7.62,22.59

In [66]:
batData['index'] = range(len(batData))

In [67]:
batData.reset_index(inplace=True)
batData

,level_0,ID,GameFormat,Runs,BF,Fours,Sixes,SR,BattingPosition,BattingInnings,...,GroundWL,GroundRPO,GroundAvg,TossWL,TossRPO,TossAvg,inningsWL,inningsRPO,inningsAverage,index
0,7039,28081,6,0,2,0,0,0.00,4,2,...,1.500,8.05,27.20,1.846,8.03,23.03,0.876,8.05,25.02,0
1,6954,28081,3,0,2,0,0,0.00,4,2,...,1.500,8.05,27.20,1.846,8.03,23.03,0.876,8.05,25.02,1
2,12902,44828,6,33,19,6,1,173.68,1,2,...,1.326,8.60,24.80,1.769,8.42,25.72,0.767,8.34,26.25,2
3,12903,44828,6,0,3,0,0,0.00,2,1,...,1.240,7.28,22.94,0.894,7.53,23.24,0.984,7.46,23.06,3
4,12904,44828,6,18,14,2,0,128.57,1,2,...,1.465,7.62,25.20,0.967,7.64,24.01,0.876,7.68,23.54,4
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
24476,17835,600498,6,6,5,0,0,120.00,5,2,...,1.500,8.05,27.20,1.846,8.03,23.03,0.876,8.05,25.02,24476
24477,21080,696401,6,5,11,0,0,45.45,7,2,...,1.500,8.05,27.20,1.846,8.03,23.03,0.876,8.05,25.02,24477
24478,7720,662973,6,62,33,5,3,187.87,5,1,...,1.400,7.67,23.26,0.610,7.71,24.37,0.751,7.62,22.59,24478
24479,3073,820351,6,63,38,7,3,165.78,5,2,...,1.400,7.67,23.26,1.639,7.72,22.51,0.751,7.56,23.19,24479
24480,4419,974087,6,5,9,0,0,55.55,1,1,...,1.400,7.67,23.26,0.610,7.71,24.37,0.751,7.62,22.59,24480

In [68]:
batData.drop("level_0", inplace=True, axis = 1)

In [69]:
batData

,ID,GameFormat,Runs,BF,Fours,Sixes,SR,BattingPosition,BattingInnings,IsOut,...,GroundWL,GroundRPO,GroundAvg,TossWL,TossRPO,TossAvg,inningsWL,inningsRPO,inningsAverage,index
0,28081,6,0,2,0,0,0.00,4,2,1,...,1.500,8.05,27.20,1.846,8.03,23.03,0.876,8.05,25.02,0
1,28081,3,0,2,0,0,0.00,4,2,1,...,1.500,8.05,27.20,1.846,8.03,23.03,0.876,8.05,25.02,1
2,44828,6,33,19,6,1,173.68,1,2,1,...,1.326,8.60,24.80,1.769,8.42,25.72,0.767,8.34,26.25,2
3,44828,6,0,3,0,0,0.00,2,1,1,...,1.240,7.28,22.94,0.894,7.53,23.24,0.984,7.46,23.06,3
4,44828,6,18,14,2,0,128.57,1,2,1,...,1.465,7.62,25.20,0.967,7.64,24.01,0.876,7.68,23.54,4
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
24476,600498,6,6,5,0,0,120.00,5,2,1,...,1.500,8.05,27.20,1.846,8.03,23.03,0.876,8.05,25.02,24476
24477,696401,6,5,11,0,0,45.45,7,2,1,...,1.500,8.05,27.20,1.846,8.03,23.03,0.876,8.05,25.02,24477
24478,662973,6,62,33,5,3,187.87,5,1,0,...,1.400,7.67,23.26,0.610,7.71,24.37,0.751,7.62,22.59,24478
24479,820351,6,63,38,7,3,165.78,5,2,1,...,1.400,7.67,23.26,1.639,7.72,22.51,0.751,7.56,23.19,24479
24480,974087,6,5,9,0,0,55.55,1,1,1,...,1.400,7.67,23.26,0.610,7.71,24.37,0.751,7.62,22.59,24480

In [70]:
def convertInnings(forWhat, value):
  if forWhat == "Consistency":
    if value < 50:
      return 1
    elif value < 100:
      return 2
    elif value < 125:
      return 3
    elif value < 150:
      return 4
    else:
      return 5
  if forWhat == "Form":
    if value < 5:
      return 1
    elif value < 10:
      return 2
    elif value < 12:
      return 3
    elif value < 15:
      return 4
    else:
      return 5
  if forWhat == "Opps":
    if value < 3:
      return 1
    elif value < 5:
       return 2
    elif value < 7:
      return 3
    elif value < 10:
      return 4
    else:
      return 5
  if forWhat == "Venue":
    if value < 2:
      return 1
    elif value < 3:
      return 2
    elif value < 4:
      return 3
    elif value < 5:
      return 4
    else:
       return 5


def convertAvg(value):
  if value < 10:
     return 1
  elif value < 20:
    return 2
  elif value < 30:
    return 3
  elif value < 40:
    return 4
  else:
    return 5


def convertSR(value):
  if value < 50:
     return 1
  elif value < 60:
    return 2
  elif value < 80:
    return 3
  elif value < 100:
    return 4
  else:
    return 5


def convertCenturies(forWhat, value):
  if forWhat == "Consistency":
    if value < 5:
      return 1
    elif value < 10:
      return 2
    elif value < 15:
      return 3
    elif value < 20:
      return 4
    else:
      return 5
  if forWhat == "Form":
    if value < 2:
      return 1
    elif value < 3:
      return 2
    elif value < 4:
      return 3
    elif value < 5:
      return 4
    else:
      return 5
  if forWhat == "Opps":
    if value <= 1:
      return 3
    elif value == 2:
      return 4
    else:
      return 5
  if forWhat == "Venue":
    if value <= 1:
      return 4
    else:
      return 5


def convertZeros(forWhat, value):
  if forWhat == "Consistency":
    if value < 5:
      return 1
    elif value < 10:
      return 2
    elif value < 15:
      return 3
    elif value < 20:
      return 4
    else:
      return 5
  if forWhat == "Form" or forWhat == "Opps":
    if value < 2:
      return 1
    elif value < 3:
      return 2
    elif value < 4:
      return 3
    elif value < 5:
      return 4
    else:
      return 5


def convertFifties(forWhat, value):
  if forWhat == "Consistency":
    if value < 10:
      return 1
    elif value < 20:
      return 2
    elif value < 30:
      return 3
    elif value < 40:
      return 4
    else:
      return 5
  if forWhat == "Form" or forWhat == "Opps":
    if value < 3:
      return 1
    elif value < 5:
      return 2
    elif value < 7:
      return 3
    elif value < 10:
      return 4
    else:
      return 5
  if forWhat == "Venue":
    if value <= 1:
      return 4
    else:
      return 5


def convertHS(value):
    if value < 25:
      return 1
    elif value < 50:
      return 2
    elif value < 100:
      return 3
    elif value < 150:
      return 4
    else:
      return 5


def convertOvers(value, forWhat):
  if forWhat == "Consistency":
    if value < 100:
      return 1
    elif value < 250:
      return 2
    elif value < 500:
      return 3
    elif value < 1000:
      return 4
    else:
      return 5
  if forWhat == "Form" or forWhat == "Opposition":
    if value < 10:
      return 1
    elif value < 25:
      return 2
    elif value < 50:
      return 3
    elif value < 100:
      return 4
    else:
      return 5
  if forWhat == "Venue":
    if value < 10:
      return 1
    elif value < 20:
      return 2
    elif value < 30:
      return 3
    elif value < 40:
      return 4
    else:
      return 5

def convertBowlingAvg(value):
    if value < 25:
      return 5
    elif value < 30:
      return 4
    elif value < 35:
      return 3
    elif value < 50:
      return 2
    else:
      return 1


def convertBowlingSR(value):
  if value < 30:
    return 5
  elif value < 40:
    return 4
  elif value < 50:
    return 3
  elif value < 60:
    return 2
  else:
    return 1

def convertBowlingFF(value, forWhat):
  if forWhat == "Consistency":
    if value < 3:
      return 3
    elif value < 5:
      return 4
    else:
      return 5
  else:
    if value < 3:
      return 4
    else:
      return 5

In [71]:
batData.columns

Index(['ID', 'GameFormat', 'Runs', 'BF', 'Fours', 'Sixes', 'SR',
       'BattingPosition', 'BattingInnings', 'IsOut', 'Opposition', 'Ground',
       'MatchDate', 'MatchLink', 'TossResult', 'Series', 'MatchTime',
       'isTossWon', 'Fantasy', 'isHomeGround', 'GroundID', 'Latitude',
       'Longitude', 'GroundWL', 'GroundRPO', 'GroundAvg', 'TossWL', 'TossRPO',
       'TossAvg', 'inningsWL', 'inningsRPO', 'inningsAverage', 'index'],
      dtype='object')

In [72]:
def getBatPriors(df):
  df = df.copy()
  df["Average"] = 0
  df["SR"] = 0
  df["Innings"] = 0
  df["Centuries"] = 0
  df["Fifties"] = 0
  df["Zeros"] = 0
  df["Consistency"] = 0
  df["Form"] = 0
  df["Venue"] = 0
  df["Opps"] = 0

  uniquePlayers = np.unique(df["ID"])

  for player_id in uniquePlayers:
    player_df = df[df["ID"] == player_id].copy()
    for i, (index, row) in enumerate(player_df.iterrows()):
        prev_df = player_df.iloc[:i]
        num_outs = prev_df[prev_df["IsOut"] == 1].shape[0]
        runs = prev_df["Runs"].sum()
        average = runs / num_outs if num_outs != 0 else runs

        balls = prev_df["BF"].sum()
        strike_rate = (runs / balls) * 100 if balls != 0 else runs * 100

        innings = prev_df.shape[0]
        centuries = prev_df[prev_df["Runs"] >= 100].shape[0]
        fifties = prev_df[(prev_df["Runs"] >= 50) & (prev_df["Runs"] < 100)].shape[0]
        zeros = prev_df[(prev_df["Runs"] == 0) & (prev_df["IsOut"] != 0)].shape[0]

        global_index = index

        df.loc[global_index, ["Average", "SR", "Innings", "Centuries", "Fifties", "Zeros"]] = [average, strike_rate, innings, centuries, fifties, zeros]

        ## Consistency
        average = convertAvg(average)
        innings = convertInnings("Consistency", innings)
        strike_rate = convertSR(strike_rate)
        centuries = convertCenturies("Consistency", centuries)
        fifties = convertFifties("Consistency", fifties)
        zeros = convertZeros("Consistency", zeros)
        consistency = (
            0.4262 * average +
            0.2566 * innings +
            0.1510 * strike_rate +
            0.0787 * centuries +
            0.0556 * fifties -
            0.0328 * zeros
        )

        df.loc[global_index, "Consistency"] = consistency

        ## Form Calculation
        prev_5_df = prev_df.tail(5)
        num_outs_5 = prev_5_df[prev_5_df["IsOut"] == 1].shape[0]
        runs_5 = prev_5_df["Runs"].sum()
        average_5 = runs_5 / num_outs_5 if num_outs_5 != 0 else runs_5
        balls_5 = prev_5_df["BF"].sum()
        strike_rate_5 = (runs_5 / balls_5) * 100 if balls_5 != 0 else runs_5 * 100
        innings_5 = prev_5_df.shape[0]
        centuries_5 = prev_5_df[prev_5_df["Runs"] >= 100].shape[0]
        fifties_5 = prev_5_df[(prev_5_df["Runs"] >= 50) & (prev_5_df["Runs"] < 100)].shape[0]
        zeros_5 = prev_5_df[(prev_5_df["Runs"] == 0) & (prev_5_df["IsOut"] != 0)].shape[0]

        average_5 = convertAvg(average_5)
        innings_5 = convertInnings("Form", innings_5)
        strike_rate_5 = convertSR(strike_rate_5)
        centuries_5 = convertCenturies("Form", centuries_5)
        fifties_5 = convertFifties("Form", fifties_5)
        zeros_5 = convertZeros("Form", zeros_5)

        form = (
            0.4262 * average_5 +
            0.2566 * innings_5 +
            0.1510 * strike_rate_5 +
            0.0787 * centuries_5 +
            0.0556 * fifties_5 -
            0.0328 * zeros_5
        )

        df.loc[global_index, "Form"] = form

        ## Venue Effect Calculation
        Ground_Place = row.Ground
        ground_df = prev_df[prev_df["Ground"] == Ground_Place]

        num_outs_venue = ground_df[ground_df["IsOut"] == 1].shape[0]
        runs_venue = ground_df["Runs"].sum()
        average_venue = runs_venue / num_outs_venue if num_outs_venue != 0 else runs_venue

        balls_venue = ground_df["BF"].sum()
        strike_rate_venue = (runs_venue / balls_venue) * 100 if balls_venue != 0 else runs_venue * 100

        innings_venue = ground_df.shape[0]
        centuries_venue = ground_df[ground_df["Runs"] >= 100].shape[0]
        fifties_venue = ground_df[(ground_df["Runs"] >= 50) & (ground_df["Runs"] < 100)].shape[0]
        HS = ground_df["Runs"].max() if not ground_df.empty else 0

        average_venue = convertAvg(average_venue)
        innings_venue = convertInnings("Venue", innings_venue)
        strike_rate_venue = convertSR(strike_rate_venue)
        centuries_venue = convertCenturies("Venue", centuries_venue)
        fifties_venue = convertFifties("Venue", fifties_venue)
        HS = convertHS(HS)

        venue = (
            0.4262 * average_venue +
            0.2566 * innings_venue +
            0.1510 * strike_rate_venue +
            0.0787 * centuries_venue +
            0.0556 * fifties_venue -
            0.0328 * HS
        )

        df.loc[global_index, "Venue"] = venue

        ## Opposition effect calculation
        Opposition = row.Opposition
        opposition_df = prev_df[prev_df["Opposition"] == Opposition]

        num_outs_opposition = opposition_df[opposition_df["IsOut"] == 1].shape[0]
        runs_opposition = opposition_df["Runs"].sum()
        average_opposition = runs_opposition / num_outs_opposition if num_outs_opposition != 0 else runs_opposition

        balls_opposition = opposition_df["BF"].sum()
        strike_rate_opposition = (runs_opposition / balls_opposition) * 100 if balls_opposition != 0 else runs_opposition * 100

        innings_opposition = opposition_df.shape[0]
        centuries_opposition = opposition_df[opposition_df["Runs"] >= 100].shape[0]
        fifties_opposition = opposition_df[(opposition_df["Runs"] >= 50) & (opposition_df["Runs"] < 100)].shape[0]
        zeros_opposition = opposition_df[(opposition_df["Runs"] == 0) & (opposition_df["IsOut"] != 0)].shape[0]

        average_opposition = convertAvg(average_opposition)
        innings_opposition = convertInnings("Opps", innings_opposition)
        strike_rate_opposition = convertSR(strike_rate_opposition)
        centuries_opposition = convertCenturies("Opps", centuries_opposition)
        fifties_opposition = convertFifties("Opps", fifties_opposition)
        zeros_opposition = convertHS(zeros_opposition)

        opps = (
            0.4262 * average_opposition +
            0.2566 * innings_opposition +
            0.1510 * strike_rate_opposition +
            0.0787 * centuries_opposition +
            0.0556 * fifties_opposition -
            0.0328 * zeros_opposition
        )

        df.loc[global_index, "Opps"] = opps
  return df

In [73]:
BatEngg = getBatPriors(batData)

/var/folders/_w/4xfs9wld05nfzlbq4p03y6z80000gn/T/ipykernel_60735/1712335307.py:52: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value '0.9353' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  df.loc[global_index, "Consistency"] = consistency
/var/folders/_w/4xfs9wld05nfzlbq4p03y6z80000gn/T/ipykernel_60735/1712335307.py:82: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value '0.9353' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  df.loc[global_index, "Form"] = form
/var/folders/_w/4xfs9wld05nfzlbq4p03y6z80000gn/T/ipykernel_60735/1712335307.py:116: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value '1.3382' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  df.loc[global_index, "Venue"] = venue
/var/folders/_w/4xfs9wld05nfzlbq4p03y6z80000gn/T/ipykernel_60735/1712335307.py:150: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value '1.0927000000000002' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  df.loc[global_index, "Opps"] = opps
/var/folders/_w/4xfs9wld05nfzlbq4p03y6z80000gn/T/ipykernel_60735/1712335307.py:34: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value '129.41176470588235' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  df.loc[global_index, ["Average", "SR", "Innings", "Centuries", "Fifties", "Zeros"]] = [average, strike_rate, innings, centuries, fifties, zeros]
/var/folders/_w/4xfs9wld05nfzlbq4p03y6z80000gn/T/ipykernel_60735/1712335307.py:34: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value '15.333333333333334' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  df.loc[global_index, ["Average", "SR", "Innings", "Centuries", "Fifties", "Zeros"]] = [average, strike_rate, innings, centuries, fifties, zeros]

In [82]:
weatherData = pd.read_csv("data/BatWeather.csv")

In [83]:
batEngg = BatEngg.merge(weatherData, how="inner", on="MatchLink")

In [84]:
BatEngg

,ID,GameFormat,Runs,BF,Fours,Sixes,SR,BattingPosition,BattingInnings,IsOut,...,index,Average,Innings,Centuries,Fifties,Zeros,Consistency,Form,Venue,Opps
0,28081,6,0,2,0,0,0.000000,4,2,1,...,0,0.000000,0,0,0,0,0.9353,0.9353,1.3382,1.0927
1,28081,3,0,2,0,0,0.000000,4,2,1,...,1,0.000000,1,0,0,1,0.9353,0.9353,1.3382,1.0927
2,44828,6,33,19,6,1,0.000000,1,2,1,...,2,0.000000,0,0,0,0,0.9353,0.9353,1.3382,1.0927
3,44828,6,0,3,0,0,173.684211,2,1,1,...,3,33.000000,1,0,0,0,2.8179,2.8179,1.3382,1.0927
4,44828,6,18,14,2,0,150.000000,1,2,1,...,4,16.500000,2,0,0,1,1.9655,1.9655,1.3382,1.0927
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
24476,600498,6,6,5,0,0,134.407849,5,2,1,...,24476,30.935484,222,1,36,9,3.9783,3.0745,3.8110,3.0623
24477,696401,6,5,11,0,0,142.971888,7,2,1,...,24477,20.941176,76,0,6,8,2.6155,2.2221,4.2144,3.0623
24478,662973,6,62,33,5,3,133.974558,5,1,0,...,24478,22.143590,245,1,24,13,3.4637,2.6483,3.7882,3.5755
24479,820351,6,63,38,7,3,138.502446,5,2,1,...,24479,24.756654,319,2,26,14,3.4637,2.6483,3.7882,3.4015
24480,974087,6,5,9,0,0,142.685103,1,1,1,...,24480,24.992188,260,3,38,31,3.4537,2.2221,3.3292,1.2437

In [85]:
batEngg

,ID,GameFormat,Runs,BF,Fours,Sixes,SR,BattingPosition,BattingInnings,IsOut,...,Venue,Opps,MatchDate_y,Latitude_y,Longitude_y,MaxTemp,MinTemp,RainProb,MaxWind,WeatherCode
0,28081,6,0,2,0,0,0.000000,4,2,1,...,1.3382,1.0927,2006-12-01,-26.2041,28.0473,25.3,13.6,0.5,15.9,51.0
1,28081,3,0,2,0,0,0.000000,4,2,1,...,1.3382,1.0927,2006-12-01,-26.2041,28.0473,25.3,13.6,0.5,15.9,51.0
2,44828,6,33,19,6,1,0.000000,1,2,1,...,1.3382,1.0927,2007-02-25,-25.8720,28.1676,32.6,16.5,0.0,24.5,2.0
3,44828,6,0,3,0,0,173.684211,2,1,1,...,1.3382,1.0927,2007-03-02,-33.9608,25.6022,25.5,20.3,0.0,28.6,2.0
4,44828,6,18,14,2,0,150.000000,1,2,1,...,1.3382,1.0927,2007-03-07,-33.9249,18.4241,27.9,17.3,0.0,26.7,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
24476,600498,6,6,5,0,0,134.407849,5,2,1,...,3.8110,3.0623,2025-02-08,-26.2041,28.0473,26.5,14.4,0.3,10.4,51.0
24477,696401,6,5,11,0,0,142.971888,7,2,1,...,4.2144,3.0623,2025-02-08,-26.2041,28.0473,26.5,14.4,0.3,10.4,51.0
24478,662973,6,62,33,5,3,133.974558,5,1,0,...,3.7882,3.5755,2025-02-09,25.2333,55.3431,22.9,19.1,0.0,18.6,3.0
24479,820351,6,63,38,7,3,138.502446,5,2,1,...,3.7882,3.4015,2025-02-09,25.2333,55.3431,22.9,19.1,0.0,18.6,3.0
24480,974087,6,5,9,0,0,142.685103,1,1,1,...,3.3292,1.2437,2025-02-09,25.2333,55.3431,22.9,19.1,0.0,18.6,3.0

In [86]:
batEngg.columns

Index(['ID', 'GameFormat', 'Runs', 'BF', 'Fours', 'Sixes', 'SR',
       'BattingPosition', 'BattingInnings', 'IsOut', 'Opposition', 'Ground',
       'MatchDate_x', 'MatchLink', 'TossResult', 'Series', 'MatchTime',
       'isTossWon', 'Fantasy', 'isHomeGround', 'GroundID', 'Latitude_x',
       'Longitude_x', 'GroundWL', 'GroundRPO', 'GroundAvg', 'TossWL',
       'TossRPO', 'TossAvg', 'inningsWL', 'inningsRPO', 'inningsAverage',
       'index', 'Average', 'Innings', 'Centuries', 'Fifties', 'Zeros',
       'Consistency', 'Form', 'Venue', 'Opps', 'MatchDate_y', 'Latitude_y',
       'Longitude_y', 'MaxTemp', 'MinTemp', 'RainProb', 'MaxWind',
       'WeatherCode'],
      dtype='object')

In [89]:
batEngg.drop(['Runs', 'BF', 'Fours', 'Sixes', "MatchLink", 'GroundID', 'Latitude_x', 'Latitude_y',
       'Longitude_x', 'Longitude_y'], axis = 1, inplace=True)

In [90]:
batEngg

,ID,GameFormat,SR,BattingPosition,BattingInnings,IsOut,Opposition,Ground,MatchDate_x,TossResult,...,Consistency,Form,Venue,Opps,MatchDate_y,MaxTemp,MinTemp,RainProb,MaxWind,WeatherCode
0,28081,6,0.000000,4,2,1,South Africa,Johannesburg,2006-12-01,bat,...,0.9353,0.9353,1.3382,1.0927,2006-12-01,25.3,13.6,0.5,15.9,51.0
1,28081,3,0.000000,4,2,1,South Africa,Johannesburg,2006-12-01,bat,...,0.9353,0.9353,1.3382,1.0927,2006-12-01,25.3,13.6,0.5,15.9,51.0
2,44828,6,0.000000,1,2,1,Eagles,Centurion,2007-02-25,bat,...,0.9353,0.9353,1.3382,1.0927,2007-02-25,32.6,16.5,0.0,24.5,2.0
3,44828,6,173.684211,2,1,1,Warriors,Gqeberha,2007-03-02,bat,...,2.8179,2.8179,1.3382,1.0927,2007-03-02,25.5,20.3,0.0,28.6,2.0
4,44828,6,150.000000,1,2,1,Cape Cobras,Cape Town,2007-03-07,bat,...,1.9655,1.9655,1.3382,1.0927,2007-03-07,27.9,17.3,0.0,26.7,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
24476,600498,6,134.407849,5,2,1,MI Cape Town,Johannesburg,2025-02-08,bat,...,3.9783,3.0745,3.8110,3.0623,2025-02-08,26.5,14.4,0.3,10.4,51.0
24477,696401,6,142.971888,7,2,1,MI Cape Town,Johannesburg,2025-02-08,bat,...,2.6155,2.2221,4.2144,3.0623,2025-02-08,26.5,14.4,0.3,10.4,51.0
24478,662973,6,133.974558,5,1,0,DC,Dubai (DICS),2025-02-09,field,...,3.4637,2.6483,3.7882,3.5755,2025-02-09,22.9,19.1,0.0,18.6,3.0
24479,820351,6,138.502446,5,2,1,Vipers,Dubai (DICS),2025-02-09,field,...,3.4637,2.6483,3.7882,3.4015,2025-02-09,22.9,19.1,0.0,18.6,3.0
24480,974087,6,142.685103,1,1,1,DC,Dubai (DICS),2025-02-09,field,...,3.4537,2.2221,3.3292,1.2437,2025-02-09,22.9,19.1,0.0,18.6,3.0

In [91]:
batEngg.columns

Index(['ID', 'GameFormat', 'SR', 'BattingPosition', 'BattingInnings', 'IsOut',
       'Opposition', 'Ground', 'MatchDate_x', 'TossResult', 'Series',
       'MatchTime', 'isTossWon', 'Fantasy', 'isHomeGround', 'GroundWL',
       'GroundRPO', 'GroundAvg', 'TossWL', 'TossRPO', 'TossAvg', 'inningsWL',
       'inningsRPO', 'inningsAverage', 'index', 'Average', 'Innings',
       'Centuries', 'Fifties', 'Zeros', 'Consistency', 'Form', 'Venue', 'Opps',
       'MatchDate_y', 'MaxTemp', 'MinTemp', 'RainProb', 'MaxWind',
       'WeatherCode'],
      dtype='object')

In [92]:
categorical_columns = ["ID", 'Opposition', 'Ground', 'TossResult', 'Series', 'MatchTime']
for col in categorical_columns:
    batEngg[col] = batEngg[col].astype('category')

In [93]:
batEngg.drop("index", inplace=True, axis = 1)

In [94]:
batEngg.columns

Index(['ID', 'GameFormat', 'SR', 'BattingPosition', 'BattingInnings', 'IsOut',
       'Opposition', 'Ground', 'MatchDate_x', 'TossResult', 'Series',
       'MatchTime', 'isTossWon', 'Fantasy', 'isHomeGround', 'GroundWL',
       'GroundRPO', 'GroundAvg', 'TossWL', 'TossRPO', 'TossAvg', 'inningsWL',
       'inningsRPO', 'inningsAverage', 'Average', 'Innings', 'Centuries',
       'Fifties', 'Zeros', 'Consistency', 'Form', 'Venue', 'Opps',
       'MatchDate_y', 'MaxTemp', 'MinTemp', 'RainProb', 'MaxWind',
       'WeatherCode'],
      dtype='object')

In [95]:
batEngg.to_csv("BatEngg.csv", index=False)

In [96]:
np.unique(batEngg["Series"])

array(['ACC Eastern Region T20', "ACC Men's T20 Emerging Teams Asia Cup",
       'AIA Premier T20 Tournament', 'Abu Dhabi T20 Trophy',
       'Afghanistan A tour of Oman', 'Afghanistan Premier League',
       'Afghanistan tour of Bangladesh', 'Afghanistan tour of India',
       'Afghanistan tour of IndiaAfghanistan v Bangladesh',
       'Afghanistan tour of IndiaIreland tour of United Arab Emirates and India',
       'Afghanistan tour of Ireland', 'Afghanistan tour of Sri Lanka',
       'Afghanistan tour of United Arab Emirates',
       'Afghanistan tour of United Arab EmiratesZimbabwe v Afghanistan',
       'Afghanistan tour of West Indies', 'Afghanistan tour of Zimbabwe',
       'Afghanistan v Ireland', 'Afghanistan v Pakistan',
       'Afghanistan v Zimbabwe', 'Afghanistan vs Ireland',
       'Africa T20 Cup', "Asian Games Men's Cricket Competition",
       'Australia tour of Bangladesh', 'Australia tour of England',
       'Australia tour of England and Ireland',
       'Australia tour of England and Scotland',
       'Australia tour of India', 'Australia tour of New Zealand',
       'Australia tour of Pakistan', 'Australia tour of Scotland',
       'Australia tour of South Africa', 'Australia tour of Sri Lanka',
       'Australia tour of United Arab Emirates',
       'Australia tour of West Indies',
       'Bangladesh A tour of West Indies', 'Bangladesh Premier League',
       'Bangladesh Twenty20 Tri-SeriesAfghanistan tour of Bangladesh',
       'Bangladesh tour of India', 'Bangladesh tour of New Zealand',
       'Bangladesh tour of South Africa',
       'Bangladesh tour of West Indies',
       'Bangladesh tour of West Indies and United States of America',
       'Bangladesh tour of West Indies and United States of AmericaWest Indies tour of United States of America',
       'Big Bash League', 'CSA Provincial Pro20 Competition',
       'CSA Provincial T20 Challenge', 'CSA Provincial T20 Cup',
       'CSA T20 Challenge', 'Canada tour of West Indies',
       'Caribbean Premier League', 'Caribbean T20',
       'Champions League Twenty20',
       'Desert T20 ChallengeAfghanistan tour of United Arab Emirates',
       'Domestic Twenty20 Competition',
       'England Lions tour of Bangladesh, Sri Lanka and United Arab Emirates',
       'England tour of Australia', 'England tour of Bangladesh',
       'England tour of India', 'England tour of New Zealand',
       'England tour of Pakistan', 'England tour of South Africa',
       'England tour of Sri Lanka',
       'England tour of United Arab Emirates',
       'England tour of West Indies', 'Friends Life t20',
       'Friends Provident t20', 'Georgie Pie Super Smash',
       'Global Super League', 'HRV Cup', 'HRV Twenty20',
       "ICC Men's T20 World Cup",
       "ICC Men's T20 World Cup Asia Region Final",
       "ICC Men's T20 World Cup Qualifier",
       "ICC Men's T20 World CupEngland tour of Australia",
       "ICC Men's T20 World CupIreland tour of United Arab Emirates",
       "ICC Men's T20 World CupNamibia tour of United Arab Emirates",
       "ICC Men's T20 World CupScotland tour of United Arab Emirates",
       "ICC Men's T20 World CupSouth Africa tour of Australia",
       "ICC Men's T20 World CupWest Indies tour of Australia",
       'ICC World Twenty20',
       'ICC World Twenty20Australia tour of South Africa',
       'ICC World Twenty20New Zealand tour of South Africa',
       'ICC World Twenty20Pakistan tour of Kenya and South Africa',
       'ICC World Twenty20South Africa tour of West Indies',
       'ICC World Twenty20West Indies tour of England',
       'ICC World XI v West Indies T20I MatchICC World XI v West Indies T20I Match',
       'Independence CupWorld-XI tour of Pakistan',
       'India A tour of West Indies', 'India tour of Australia',
       'India tour of England', 'India tour of Ireland',
       'India tour of New Zealand', 'India tour of South Africa',
       'India tour of Sri Lanka', 'India tour of West Indies',
       'India tour of West Indies and United States of America',
       'India tour of Zimbabwe', 'Indian Premier League',
       'Inter State Twenty-20 Tournament', 'International League T20',
       'Ireland tour of India', 'Ireland tour of West Indies',
       'Ireland vs South AfricaSouth Africa tour of United Arab Emirates',
       'Lanka Premier League', 'Major Clubs T20 Tournament',
       'Major League Cricket', "Men's T20 Asia Cup",
       "Men's T20 Asia CupBangladesh tour of United Arab Emirates",
       "Men's T20 Asia CupSri Lanka tour of India and Bangladesh",
       'MiWAY T20 Challenge', 'Mzansi Super League', 'NatWest t20 Blast',
       'New Zealand T20I Tri-Series', 'New Zealand tour of Bangladesh',
       'New Zealand tour of England', 'New Zealand tour of India',
       'New Zealand tour of Ireland', 'New Zealand tour of Netherlands',
       'New Zealand tour of Pakistan', 'New Zealand tour of Scotland',
       'New Zealand tour of South Africa',
       'New Zealand tour of Sri Lanka',
       'New Zealand tour of United Arab Emirates',
       'New Zealand tour of West Indies',
       'New Zealand tour of Zimbabwe and South Africa',
       'Nidahas Twenty20 Tri-Series', 'Nokia Champions League T20',
       'Pakistan A tour of United Arab EmiratesEngland Lions tour of United Arab Emirates',
       'Pakistan A tour of United Arab EmiratesNew Zealand A tour of United Arab Emirates',
       'Pakistan Super League', 'Pakistan tour of Australia',
       'Pakistan tour of England', 'Pakistan tour of England and Ireland',
       'Pakistan tour of India', 'Pakistan tour of New Zealand',
       'Pakistan tour of South Africa', 'Pakistan tour of West Indies',
       'Pakistan v Australia', 'Pakistan v New Zealand',
       'Pepsi Indian Premier League', 'Qosh Tepa National T20 Cup',
       'Ram Slam T20 Challenge', 'SA20', 'SLC Invitational T20 League',
       'SLC T20 League', 'SLC Twenty-20 Tournament',
       'Shpageeza Cricket League', 'Singapore Twenty20 Tri-Series',
       'South Africa A tour of Zimbabwe',
       'South Africa tour of Australia',
       'South Africa tour of Australia [November 2014]',
       'South Africa tour of Bangladesh', 'South Africa tour of England',
       'South Africa tour of EnglandIreland tour of England',
       'South Africa tour of India', 'South Africa tour of Ireland',
       'South Africa tour of New Zealand',
       'South Africa tour of Pakistan', 'South Africa tour of Sri Lanka',
       'South Africa tour of United Arab Emirates',
       'South Africa tour of West Indies',
       'South Africa tour of West Indies [May 2024]',
       'South Africa v India 2018', 'Sri Lanka A tour of West Indies',
       'Sri Lanka Cricket Development XI tour of England',
       'Sri Lanka T20 World Cup Preparation Matches',
       'Sri Lanka tour of Australia', 'Sri Lanka tour of Bangladesh',
       'Sri Lanka tour of England',
       'Sri Lanka tour of England and Ireland', 'Sri Lanka tour of India',
       'Sri Lanka tour of India and Bangladesh',
       'Sri Lanka tour of New Zealand', 'Sri Lanka tour of Pakistan',
       'Sri Lanka tour of South Africa', 'Sri Lanka tour of West Indies',
       'Standard Bank Pro20 Series',
       'Standard Bank Pro20 SeriesZimbabwe tour of South Africa',
       'State Twenty20', 'Super Smash', 'Syed Mushtaq Ali Trophy',
       'Syed Mushtaq Ali Trophy Inter Zonal',
       "The Hundred Men's Competition",
       'Trans-Tasman Twenty20 Tri-Series',
       'Trans-Tasman Twenty20 Tri-SeriesEngland tour of Australia and New Zealand',
       'Twenty20 Big Bash', 'Twenty20 Cup',
       "UltraTech Cement Super 4's Twenty20 Tournament", 'Unknown',
       'Vitality Blast', 'West Indies A tour of India',
       'West Indies tour of Australia', 'West Indies tour of Bangladesh',
       'West Indies tour of England', 'West Indies tour of India',
       'West Indies tour of IndiaAfghanistan v West Indies',
       'West Indies tour of New Zealand', 'West Indies tour of Pakistan',
       'West Indies tour of South Africa',
       'West Indies tour of Sri Lanka',
       'West Indies tour of United Arab Emirates',
       'West Indies tour of United States of AmericaBangladesh tour of West Indies and United States of America',
       'World T20', 'World T20Sri Lanka tour of India and Bangladesh',
       'ZIM T20 Tri SeriesAustralia tour of Zimbabwe',
       'ZIM T20 Tri SeriesPakistan tour of Zimbabwe',
       'Zimbabwe Twenty20 Triangular Series',
       'Zimbabwe tour of South Africa', 'Zimbabwe tour of Sri Lanka',
       'Zimbabwe tour of United Arab Emirates',
       'Zimbabwe tour of West Indies'], dtype=object)

In [97]:
import re

# Dictionary mapping phrases to their distinct league names.
# Order matters: these checks are case-insensitive.
special_leagues = {
    'indian premier league': 'IPL',
    'ipl': 'IPL',
    'big bash league': 'BBL',
    'bbl': 'BBL',
    'vitality blast': 'Vitality Blast',
    'pakistan super league': 'PSL',
    'psl': 'PSL',
    'caribbean premier league': 'Caribbean Premier League',
    'mzansi super league': 'Mzansi Super League',
    'the hundred': 'The Hundred',
    'sa20': 'SA20'
}

def map_series(series_name):
    s = series_name.lower()

    # Check if series matches any of the special league names
    for key, league in special_leagues.items():
        if key in s:
            return league

    # If not one of the special leagues, then apply broader rules:

    # World events: World Cup / World Twenty20
    if re.search(r'world cup|world twenty20', s):
        return 'World Cup'

    # Bilateral series: any series with 'tour'
    elif re.search(r'\btour\b', s):
        return 'Bilateral'

    # Cup competitions: any title including 'cup'
    elif re.search(r'\bcup\b', s):
        return 'Cup'

    # Tournament, Challenge, or Tri-series events
    elif re.search(r'tri[-\s]?series|tournament|challenge', s):
        return 'Tournament'

    # If “T20” appears but none of the above apply, label it as T20 Tournament
    elif 't20' in s:
        return 'T20 Tournament'

    # Default fallback category
    else:
        return 'Other'

series_list = np.unique(batEngg["Series"])

mapped = {name: map_series(name) for name in series_list}
for name, cat in mapped.items():
    print(f"{name} -> {cat}")

ACC Eastern Region T20 -> T20 Tournament
ACC Men's T20 Emerging Teams Asia Cup -> Cup
AIA Premier T20 Tournament -> Tournament
Abu Dhabi T20 Trophy -> T20 Tournament
Afghanistan A tour of Oman -> Bilateral
Afghanistan Premier League -> Other
Afghanistan tour of Bangladesh -> Bilateral
Afghanistan tour of India -> Bilateral
Afghanistan tour of IndiaAfghanistan v Bangladesh -> Bilateral
Afghanistan tour of IndiaIreland tour of United Arab Emirates and India -> Bilateral
Afghanistan tour of Ireland -> Bilateral
Afghanistan tour of Sri Lanka -> Bilateral
Afghanistan tour of United Arab Emirates -> Bilateral
Afghanistan tour of United Arab EmiratesZimbabwe v Afghanistan -> Bilateral
Afghanistan tour of West Indies -> Bilateral
Afghanistan tour of Zimbabwe -> Bilateral
Afghanistan v Ireland -> Other
Afghanistan v Pakistan -> Other
Afghanistan v Zimbabwe -> Other
Afghanistan vs Ireland -> Other
Africa T20 Cup -> Cup
Asian Games Men's Cricket Competition -> Other
Australia tour of Bangladesh -> Bilateral
Australia tour of England -> Bilateral
Australia tour of England and Ireland -> Bilateral
Australia tour of England and Scotland -> Bilateral
Australia tour of India -> Bilateral
Australia tour of New Zealand -> Bilateral
Australia tour of Pakistan -> Bilateral
Australia tour of Scotland -> Bilateral
Australia tour of South Africa -> Bilateral
Australia tour of Sri Lanka -> Bilateral
Australia tour of United Arab Emirates -> Bilateral
Australia tour of West Indies -> Bilateral
Bangladesh A tour of West Indies -> Bilateral
Bangladesh Premier League -> Other
Bangladesh Twenty20 Tri-SeriesAfghanistan tour of Bangladesh -> Bilateral
Bangladesh tour of India -> Bilateral
Bangladesh tour of New Zealand -> Bilateral
Bangladesh tour of South Africa -> Bilateral
Bangladesh tour of West Indies -> Bilateral
Bangladesh tour of West Indies and United States of America -> Bilateral
Bangladesh tour of West Indies and United States of AmericaWest Indies tour of United States of America -> Bilateral
Big Bash League -> BBL
CSA Provincial Pro20 Competition -> Other
CSA Provincial T20 Challenge -> Tournament
CSA Provincial T20 Cup -> Cup
CSA T20 Challenge -> Tournament
Canada tour of West Indies -> Bilateral
Caribbean Premier League -> Caribbean Premier League
Caribbean T20 -> T20 Tournament
Champions League Twenty20 -> Other
Desert T20 ChallengeAfghanistan tour of United Arab Emirates -> Bilateral
Domestic Twenty20 Competition -> Other
England Lions tour of Bangladesh, Sri Lanka and United Arab Emirates -> Bilateral
England tour of Australia -> Bilateral
England tour of Bangladesh -> Bilateral
England tour of India -> Bilateral
England tour of New Zealand -> Bilateral
England tour of Pakistan -> Bilateral
England tour of South Africa -> Bilateral
England tour of Sri Lanka -> Bilateral
England tour of United Arab Emirates -> Bilateral
England tour of West Indies -> Bilateral
Friends Life t20 -> T20 Tournament
Friends Provident t20 -> T20 Tournament
Georgie Pie Super Smash -> Other
Global Super League -> Other
HRV Cup -> Cup
HRV Twenty20 -> Other
ICC Men's T20 World Cup -> World Cup
ICC Men's T20 World Cup Asia Region Final -> World Cup
ICC Men's T20 World Cup Qualifier -> World Cup
ICC Men's T20 World CupEngland tour of Australia -> World Cup
ICC Men's T20 World CupIreland tour of United Arab Emirates -> World Cup
ICC Men's T20 World CupNamibia tour of United Arab Emirates -> World Cup
ICC Men's T20 World CupScotland tour of United Arab Emirates -> World Cup
ICC Men's T20 World CupSouth Africa tour of Australia -> World Cup
ICC Men's T20 World CupWest Indies tour of Australia -> World Cup
ICC World Twenty20 -> World Cup
ICC World Twenty20Australia tour of South Africa -> World Cup
ICC World Twenty20New Zealand tour of South Africa -> World Cup
ICC World Twenty20Pakistan tour of Kenya and South Africa -> World Cup
ICC World Twenty20South Africa tour of West Indies -> World Cup
ICC World Twenty20West Indies tour of England -> World Cup
ICC World XI v West Indies T20I MatchICC World XI v West Indies T20I Match -> T20 Tournament
Independence CupWorld-XI tour of Pakistan -> Bilateral
India A tour of West Indies -> Bilateral
India tour of Australia -> Bilateral
India tour of England -> Bilateral
India tour of Ireland -> Bilateral
India tour of New Zealand -> Bilateral
India tour of South Africa -> Bilateral
India tour of Sri Lanka -> Bilateral
India tour of West Indies -> Bilateral
India tour of West Indies and United States of America -> Bilateral
India tour of Zimbabwe -> Bilateral
Indian Premier League -> IPL
Inter State Twenty-20 Tournament -> Tournament
International League T20 -> T20 Tournament
Ireland tour of India -> Bilateral
Ireland tour of West Indies -> Bilateral
Ireland vs South AfricaSouth Africa tour of United Arab Emirates -> Bilateral
Lanka Premier League -> Other
Major Clubs T20 Tournament -> Tournament
Major League Cricket -> Other
Men's T20 Asia Cup -> Cup
Men's T20 Asia CupBangladesh tour of United Arab Emirates -> Bilateral
Men's T20 Asia CupSri Lanka tour of India and Bangladesh -> Bilateral
MiWAY T20 Challenge -> Tournament
Mzansi Super League -> Mzansi Super League
NatWest t20 Blast -> T20 Tournament
New Zealand T20I Tri-Series -> Tournament
New Zealand tour of Bangladesh -> Bilateral
New Zealand tour of England -> Bilateral
New Zealand tour of India -> Bilateral
New Zealand tour of Ireland -> Bilateral
New Zealand tour of Netherlands -> Bilateral
New Zealand tour of Pakistan -> Bilateral
New Zealand tour of Scotland -> Bilateral
New Zealand tour of South Africa -> Bilateral
New Zealand tour of Sri Lanka -> Bilateral
New Zealand tour of United Arab Emirates -> Bilateral
New Zealand tour of West Indies -> Bilateral
New Zealand tour of Zimbabwe and South Africa -> Bilateral
Nidahas Twenty20 Tri-Series -> Tournament
Nokia Champions League T20 -> T20 Tournament
Pakistan A tour of United Arab EmiratesEngland Lions tour of United Arab Emirates -> Bilateral
Pakistan A tour of United Arab EmiratesNew Zealand A tour of United Arab Emirates -> Bilateral
Pakistan Super League -> PSL
Pakistan tour of Australia -> Bilateral
Pakistan tour of England -> Bilateral
Pakistan tour of England and Ireland -> Bilateral
Pakistan tour of India -> Bilateral
Pakistan tour of New Zealand -> Bilateral
Pakistan tour of South Africa -> Bilateral
Pakistan tour of West Indies -> Bilateral
Pakistan v Australia -> Other
Pakistan v New Zealand -> Other
Pepsi Indian Premier League -> IPL
Qosh Tepa National T20 Cup -> Cup
Ram Slam T20 Challenge -> Tournament
SA20 -> SA20
SLC Invitational T20 League -> T20 Tournament
SLC T20 League -> T20 Tournament
SLC Twenty-20 Tournament -> Tournament
Shpageeza Cricket League -> Other
Singapore Twenty20 Tri-Series -> Tournament
South Africa A tour of Zimbabwe -> Bilateral
South Africa tour of Australia -> Bilateral
South Africa tour of Australia [November 2014] -> Bilateral
South Africa tour of Bangladesh -> Bilateral
South Africa tour of England -> Bilateral
South Africa tour of EnglandIreland tour of England -> Bilateral
South Africa tour of India -> Bilateral
South Africa tour of Ireland -> Bilateral
South Africa tour of New Zealand -> Bilateral
South Africa tour of Pakistan -> Bilateral
South Africa tour of Sri Lanka -> Bilateral
South Africa tour of United Arab Emirates -> Bilateral
South Africa tour of West Indies -> Bilateral
South Africa tour of West Indies [May 2024] -> Bilateral
South Africa v India 2018 -> Other
Sri Lanka A tour of West Indies -> Bilateral
Sri Lanka Cricket Development XI tour of England -> Bilateral
Sri Lanka T20 World Cup Preparation Matches -> World Cup
Sri Lanka tour of Australia -> Bilateral
Sri Lanka tour of Bangladesh -> Bilateral
Sri Lanka tour of England -> Bilateral
Sri Lanka tour of England and Ireland -> Bilateral
Sri Lanka tour of India -> Bilateral
Sri Lanka tour of India and Bangladesh -> Bilateral
Sri Lanka tour of New Zealand -> Bilateral
Sri Lanka tour of Pakistan -> Bilateral
Sri Lanka tour of South Africa -> Bilateral
Sri Lanka tour of West Indies -> Bilateral
Standard Bank Pro20 Series -> Other
Standard Bank Pro20 SeriesZimbabwe tour of South Africa -> Bilateral
State Twenty20 -> Other
Super Smash -> Other
Syed Mushtaq Ali Trophy -> Other
Syed Mushtaq Ali Trophy Inter Zonal -> Other
The Hundred Men's Competition -> The Hundred
Trans-Tasman Twenty20 Tri-Series -> Tournament
Trans-Tasman Twenty20 Tri-SeriesEngland tour of Australia and New Zealand -> Bilateral
Twenty20 Big Bash -> Other
Twenty20 Cup -> Cup
UltraTech Cement Super 4's Twenty20 Tournament -> Tournament
Unknown -> Other
Vitality Blast -> Vitality Blast
West Indies A tour of India -> Bilateral
West Indies tour of Australia -> Bilateral
West Indies tour of Bangladesh -> Bilateral
West Indies tour of England -> Bilateral
West Indies tour of India -> Bilateral
West Indies tour of IndiaAfghanistan v West Indies -> Bilateral
West Indies tour of New Zealand -> Bilateral
West Indies tour of Pakistan -> Bilateral
West Indies tour of South Africa -> Bilateral
West Indies tour of Sri Lanka -> Bilateral
West Indies tour of United Arab Emirates -> Bilateral
West Indies tour of United States of AmericaBangladesh tour of West Indies and United States of America -> Bilateral
World T20 -> T20 Tournament
World T20Sri Lanka tour of India and Bangladesh -> Bilateral
ZIM T20 Tri SeriesAustralia tour of Zimbabwe -> Bilateral
ZIM T20 Tri SeriesPakistan tour of Zimbabwe -> Bilateral
Zimbabwe Twenty20 Triangular Series -> Other
Zimbabwe tour of South Africa -> Bilateral
Zimbabwe tour of Sri Lanka -> Bilateral
Zimbabwe tour of United Arab Emirates -> Bilateral
Zimbabwe tour of West Indies -> Bilateral

In [98]:
batEngg['Tournament'] = batEngg['Series'].apply(map_series)

In [99]:
np.unique(batEngg["Tournament"])

array(['BBL', 'Bilateral', 'Caribbean Premier League', 'Cup', 'IPL',
       'Mzansi Super League', 'Other', 'PSL', 'SA20', 'T20 Tournament',
       'The Hundred', 'Tournament', 'Vitality Blast', 'World Cup'],
      dtype=object)

In [100]:
batEngg.drop("Series", axis = 1, inplace=True)

In [101]:
position_mapping = {
    1: 1,
    2: 1,
    3: 2,
    4: 2,
    5: 2,
    6: 3,
    7: 3,
    8: 3,
    9: 4,
    10: 4,
    11: 4,
    12: 4
}

In [102]:
np.unique(batEngg["BattingPosition"])

array([ 1,  2,  3,  4,  5,  6,  7,  8,  9, 10, 11, 12])

In [103]:
batEngg["BattingOrder"] = batEngg["BattingPosition"].map(position_mapping)

In [104]:
batEngg.drop("BattingPosition", axis = 1, inplace=True)

In [105]:
batEngg.to_csv("BatEngg.csv")

In [106]:
categorical_columns = ["ID", 'Opposition', 'Ground', 'TossResult', 'Tournament', 'MatchTime']
for col in categorical_columns:
    batEngg[col] = batEngg[col].astype('category')

In [107]:
batEngg.to_csv('batEngg.csv', index=False)

print("DataFrame 'batEngg' has been saved to 'batEngg.csv'.")

DataFrame 'batEngg' has been saved to 'batEngg.csv'.